/* inspired by https://github.com/devinhunt/typebase.css */

/* Basic setup */
*
  box-sizing border-box
  margin 0
  padding 0

html
  background-color $bg-dark
  font-family $sans
  font-size $base-size-mobile
  font-weight $fw-base
  -webkit-font-smoothing antialiased
  text-size-adjust auto

  +medium()
    font-size $base-size

body
  background-color $bg

/* Copy & Lists */
p
  line-height $leading
  margin-top $leading*0.5
  font-size 1rem
  margin-bottom 0

ul,
ol
  margin-top $leading
  margin-bottom $leading
  li
    line-height $leading

  ul,
  ol
    margin-top 0
    margin-bottom 0

blockquote
  line-height $leading
  margin-top $leading
  margin-bottom $leading

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6
  font-family $sans
  margin-top $leading
  margin-bottom 0
  line-height $leading
  font-weight $fw-heading
  color tint($text-color, 25%)

h1
  font-size 3 * $scale * 1rem
  line-height 3 * $leading
  margin-top 2 * $leading

h2
  font-size 2 * $scale * 1rem
  line-height 2 * $leading
  margin-top 2 * $leading

h3
  font-size 1 * $scale * 1rem

h4
  font-size ($scale/2) * 1rem

h5
  font-size ($scale/3) * 1rem

h6
  font-size ($scale/4) * 1rem

.side-title
  font-size $small
  font-weight $fw-bold
  margin 0
  line-height 1.45
  text-transform uppercase
  letter-spacing $letter-spacing

  span
    display block
    font-size $micro
    text-transform none
    margin-top $spacing*0.15
    color $gray

/* Images, links, etc. */
hr
  display block
  height 1px
  border 0
  border-top $separator
  margin $spacing*1.25 0
  padding 0
  &.double
    margin $spacing*2 0

img
  max-width 100%

a:link,
a:visited
  text-decoration underline
  text-decoration-skip ink
  color $site-color
  transition all 0.15s $quad-easing

a:hover
  color shade($site-color, 50%)

::selection
  background rgba(tint($site-color, 50%), 0.5)

/* Tables */

table
  margin-top $leading
  border-spacing  0px
  border-collapse collapse

td,
th
  padding 0
  line-height $baseLineHeight * $baseFontSize - 0px

/* Code blocks */

code
  // Forces text to constrain to the line-height. Not ideal, but works.
  vertical-align bottom

/* $leading paragraph text */

.lead
  font-size $large-size

/* Hug a the block above you */

.hug
  margin-top 0
