/* inspired by https://github.com/devinhunt/typebase.css */

*
  box-sizing border-box
  margin 0
  padding 0

html
  font-family $serif
  -webkit-font-smoothing antialiased
  text-size-adjust auto
  font-size $root-size
  background-color $gray-lightest

body
  font-family $sans
  font-size $base-size
  font-weight $fw-base
  background-color $bg
  -webkit-font-smoothing antialiased
  text-size-adjust auto
  transition $theme-transition

h1,
h2,
h3,
h4
  margin-top $leading
  margin-bottom 0
  line-height $leading
  font-family $sans
  font-weight $fw-heading
  color tint($text-color, 10%)

h1
  font-size $h1-size
  line-height $h1-line-height
  margin-top (1 * $leading)
  margin-bottom (0.5 * $leading)

h2
  font-size $h2-size
  line-height $h2-line-height
  margin-top (2 * $leading)

h3
  font-size $h3-size
  line-height $h3-line-height

h4
  font-size $h4-size
  line-height $h4-line-height
  margin-top (1 * $leading)
  margin-bottom (0.25 * $leading)

/* Copy & Lists */
p
  line-height $leading
  margin-top $leading
  margin-bottom 0

h1 + p,
h2 + p,
h3 + p
  margin-top 0.5 * $leading

h4 + p
  margin-top 0


ul,
ol
  margin-top $leading*0.5
  margin-bottom $leading*0.5
  padding-left $leading
  li
    margin-bottom $leading*0.25
    &:last-of-type
      margin-bottom 0

li
  line-height $leading


blockquote
  line-height $leading
  margin-top $leading
  margin-bottom $leading
  padding 0 $leading*0.75
  p
    font-style italic
  div
    font-size 0.9rem

hr
  display block
  height 1px
  border none
  border-top $separator
  margin $spacing*2 0
  padding 0
  &.double
    margin $spacing*2 0

img
  max-width 100%

figure
  // background rgba(pink, 0.25)
  margin $leading*1.5 $leading*0.5
  text-align center
  figcaption
    margin-top $leading*0.5
    font-size 0.85rem
    line-height 1.65
    font-style italic

/* Tables */

table
  margin-top $leading
  border-spacing  0px
  border-collapse collapse

td,
th
  padding 0
  line-height $base-line-height * $base-size - 0px

/* Code blocks */

code
  vertical-align bottom


a:link,
a:visited
  text-decoration underline
  text-decoration-skip ink
  color $site-color
  transition all 0.15s $quad-easing

a:hover
  color shade($site-color, 50%)

selection
  background $selection


/* Leading paragraph text */

.lead
  font-size $scale * 1rem

/* Hug the block above you */

.hug
  margin-top 0

