html {
    font-size: ms(0);
    line-height: 1.5;
}

body {
    font-size: ms(0);
    font-family: $type-base, $sans-serif;
    background-color: $brand-light;
    color: $brand-dark;
}

p {
    font-size: ms(0);
}

h1 {
    
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

small, p.small {
    font-size: ms(-1);
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}