<section class="profile__section">
    <div class="wrap">
        
        <h2 class="profile__title">Work experience</h2>

        <div class="card margin-top--double">
            <div class="card__meta"><span class="date">January 2015 – June 2015</span></div>
            <h3 class="card__title"><a href="http://folkmatic.com/" target="_blank">Folkmatic</a> <span class="card__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Copenhagen</span></h3>
            <div class="card__position">Front-end Developer [part-time]</div>
            <div class="card__text text-super-small">
                <ul>
<li>a freshly founded agency based in Copenhagen/Belgrade</li>
<li>worked with clients in telecommunications &amp; startups</li>
<li>transforming designs into HTML/CSS/JS templates</li>
<li>focused, project-based &amp; often-remote work</li>
<li>internal projects &amp; front-end dev lead for an important client</li>
<li>iterative work with back-end dev, project manager &amp; client</li>
</ul>

            </div>
        </div>

        <div class="card">
            <div class="card__meta"><span class="date">October 2014 – January 2015</span></div>
            <h3 class="card__title"><a href="http://spoiledmilk.com/" target="_blank">Spoiled Milk</a> <span class="card__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Copenhagen</span></h3>
            <div class="card__position">Front-end Development Intern [full-time]</div>
            <div class="card__text text-super-small">
                <ul>
<li>first proper experience with the hectic world of agency client work</li>
<li>worked with clients in telecommunications, finance, startups, politics, &amp; music</li>
<li>transforming designs into HTML/CSS/JS templates</li>
<li>go-to-guy for ad-hoc front-end tasks</li>
<li>a back-and-forth between projects over the course of a week</li>
<li>“responsive” email templates (learn how the Web used to be made)</li>
<li>implement new features, smash bugs, make IE8 behave, create sprites</li>
<li>UI concepts and prototypes (occasionally)</li>
</ul>

            </div>
        </div>

        <div class="card">
            <div class="card__meta"><span class="date">May 2011 – August 2011</span></div>
            <h3 class="card__title"><a href="http://fontai.com/" target="_blank">Fontai</a> <span class="card__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Prague</span></h3>
            <div class="card__position">Assistant Project Manager [freelance]</div>
            <div class="card__text text-super-small">
                <ul>
<li>overseeing the development of Weetr mailing tool</li>
<li>Weetr is primarily used by company&#39;s clients to send newsletters and service messages</li>
<li>prepared presentation slides and promo materials with pricing</li>
<li>collaborated with the graphic designer on newsletter prototypes for clients</li>
<li>tested out new features with the main developer</li>
</ul>

            </div>
        </div>
        
        <!-- .wrap -->
    </div>
    <!-- .profile__section -->
</section>