 <article class="card">
    
    <header class="card__header">
        <h2 class="card__title">Urban Cultures</h2>
        <div class="card__meta">2012 – Now</div>
    </header>
    
    <div class="card__content">
        <div class="card__cover">
            <a href="http://urbancultures.co" target="_blank"><img src="../img/uc.jpg" alt="Urban Cultures site preview"></a>
        </div>
        <div class="card__body">
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

        </div>
    </div>
</article>