<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2012 – Now</span></div>
        <h3 class="card__title"><a href="http://takemetodenmark.com" target="_blank">Take Me To Denmark</a></h3>
        <div class="card__position">Founder &amp; Main Curator</div>
    </header>

    <div class="card__cover">
        <a href="http://takemetodenmark.com" target="_blank"><img src="../img/tmtd.jpg" alt="Take Me To Denmark site preview"></a>
    </div>

    <div class="card__text text-small">
        <p>In 2012, I used the domain and the site to get accepted to a university in Denmark. Since then I&#39;ve transformed the site into an information resource to help people who are planning to move to Denmark.</p>
<p>Currently, the site is a bit dated. Visual design, in particular, is an example of poor taste of past me. But don&#39;t worry, a new version with updated content and new features is in the pipes.</p>
<p>I&#39;m looking for people to help me with creating, maintaining, and running the site. So please reach out if you would like to collaborate on this project.</p>

    </div>
    
</article>