<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2015 – Now</span></div>
        <h3 class="card__title"><a href="https://github.com/WebCrashCourse/" target="_blank">Web Crash Course</a></h3>
        <div class="card__position">Founder &amp; Workshop Instructor</div>
    </header>

    <div class="card__cover">
        <a href="https://github.com/WebCrashCourse/" target="_blank"><img src="../img/tmtd.jpg" alt="Take Me To Denmark site preview"></a>
    </div>

    <div class="card__text">
        <p>A latest personal project which I hope to make a collective one soon. The project ambition is to curate resources about design and web development and prepare workshops for people who have never touched code.</p>
<p>The idea of the workshops is for people to acquire a working knowledge of any given tool. While learning the core principles and design rationale behind common Web patterns. It is also important that people walk out of the workshop with their creations available online and ready for further experiments.</p>
<p>So far, I&#39;ve only organized small workshops at my university. But I would like to push this project further and create a long-term network of people running workshops in their local communities and businesses.</p>
<p>Get in touch if you would like to join forces and organize a workshop or otherwise get involved with the project.  </p>

    </div>
    
</article>