<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2012 – Now</span></div>
        <h3 class="card__title"><a href="http://urbancultures.co/creators/" target="_blank">Urban Cultures</a></h3>
        <div class="card__position">Cocreator &amp; Front-end Dev</div>
    </header>

    <div class="card__cover">
        <a href="http://urbancultures.co/creators/" target="_blank"><img src="../img/uc.jpg" alt="Urban Cultures site preview"></a>
    </div>

    <div class="card__text text-small">
        <p>The project started with my friend making interviews with people involved in arts and extreme sports and posting them on Tumblr. In 2012, he asked me for help with building a site on a custom domain. I&#39;ve smushed together a server and a site running WP with an over-designed custom theme and off we went!</p>
<p>Over the years, the project took various twists and turns (<a href="http://underground-up.com">and produced a great video series</a>). In its current form, the site focuses on promoting the work of creatives that are a part of an invite-only member&#39;s collective organized by Urban Cultures. The long-term idea is to build a hand-picked worldwide network of talented individuals.</p>

    </div>
    
</article>