button,
a.btn,
.btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--text-tertiary);
  border-radius: var(--radius-base);
  padding: var(--spacing-2) var(--spacing-3);
  color: var(--text-secondary);
  font-weight: var(--fw-medium);
  font-size: var(--font-size-sm);
  line-height: 1;
  text-decoration: none;
}

.btn + .btn {
  margin-left: var(--spacing-2);
}

button:hover,
a.btn:hover,
.btn:hover {
  background-color: var(--bg-tertiary);
  color: var(--text-base);
  /* background-color: var(--accent); */
}

button.btn-rounded,
a.btn-rounded,
.btn-rounded {
  border-radius: var(--radius-lg);
  padding: var(--spacing-2) var(--spacing-4);
}

.btn .icon {
  margin-right: var(--spacing-2);
  width: var(--spacing-4);
  height: var(--spacing-4);
}

/* button.btn-rss,
a.btn-rss,
.btn-rss {
  border-color: var(--rss-100);
  background-color: var(--rss-50);
  color: var(--rss-600);
} */
