<section class="profile__section">
    <div class="wrap">

        <h2 class="profile__title">Education</h2>

        <div class="card margin-top--double">
            <div class="card__meta"><span class="date">2012 – 2015</span></div>
            <h3 class="card__title">Copenhagen Business School <span class="card__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Copenhagen</span></h3>
            <div class="card__position">Information Management [BA]</div>
            <h4 class="card__subtitle">Courses:</h4>
            <ul class="dotted-list text-italic text-super-small">
                <li>Business Economics and Information Management</li>
                <li>Business Models for User Experience Design of Social Media Smartphone Apps</li>
                <li>Computer-mediated Communication and Collaboration</li>
                <li>Communication and Knowledge Management</li>
                <li>Corporate Communication</li>
                <li>Fundamentals of Communication</li>
                <li>Fundamentals of Information Systems</li>
                <li>Fundamentals of Internet technology and business models</li>
                <li>Information in Context</li>
                <li>Information Management and Organisational Change</li>
                <li>Interdisciplinary Research Methods</li>
                <li>Organization Theory</li>
                <li>Organization, Innovation and Systems Design</li>
                <li>Project Management</li>
            </ul>

            <h4 class="card__subtitle">Selected work:</h4>
            <ul class="card__list text-italic text-super-small">
                <li>Going Beyond HCI: Information Design for Knowledge Sharing Platforms [<a href="../attachments/bachelor.pdf" target="_blank">PDF</a>] [<a href="http://iljapanic.github.io/panic-bachelor/" target="_blank">Web</a>] [<a href="https://github.com/iljapanic/panic-bachelor" target="_blank">GitHub</a>]</li>
                <li>MVP - “Friend Trotter” mobile app [<a href="../attachments/MVP.pdf" target="_blank">PDF</a>]</li>   
            </ul>
        </div>

        <div class="card">
            <div class="card__meta"><span class="date">2011 – 2012</span></div>
            <h3 class="card__title">University of Economics <span class="card__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Prague</span></h3>
            <div class="card__position">Applied Informatics [1 semester]</div>
            <h4 class="card__subtitle">Courses:</h4>
            <ul class="dotted-list text-italic text-super-small">
                <li>Advanced English I</li>
                <li>Basic Spanish for Economists II</li>
                <li>Economic history and its reflection in the theory</li>
                <li>Information and Communication Networks</li>
                <li>Introduction to Programming [JAVA]</li>
                <li>Management</li>
                <li>Mathematical Foundations of Informatics</li>
            </ul>
        </div>

        <div class="card">
            <div class="card__meta"><span class="date">2007 – 2011</span></div>
            <h3 class="card__title">Gymnazium Sazavska <span class="card__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Prague</span></h3>
            <div class="card__position">High School Diploma (maturita)</div>
            <h4 class="card__subtitle">Graduation subjects:</h4>
            <ul class="dotted-list text-italic text-super-small">
                <li>Czech</li>
                <li>English</li>
                <li>Informatio technology</li>
                <li>Mathematics</li>
                <li>Physics</li>
            </ul>
        </div>

        <!-- .wrap -->
    </div>
    <!-- .profile__section -->
</section>