<section class="profile__section">
	
		
		<h2 class="profile__title">Free time</h2>
		
		<div class="wrap">

			<h3 class="profile__subtitle">Conferences &amp; meetups I attended:</h3>
			
			<ul class="dotted-list text-super-small">
				<li>Webexpo [CZ]</li>
				<li>For Mobile [CZ]</li>
				<li>BizIT [CZ]</li>
				<li>UX Camp CPH [DK]</li>
				<li>Forge [DK]</li>
				<li>Copenhagen Crowdfunding [DK]</li>
				<li>Copenhagen Frontenders [DK]</li>
				<li>CopenhagenJS [DK]</li>
			</ul>

		</div>
		

		<div class="wrap--wide">
			<h3 class="profile__subtitle margin-top--triple">Some facts about me in pictures:</h3>
				

			<div class="gallery gallery--3 clearfix">
				
				<div class="gallery__item">
					<figure>
						<img src="../img/cv-coffee.jpg" alt="Uncussessful inverted Aeropres brew"/>
						<figcaption class="gallery__caption">
							<p>I drink unhealthy amounts of coffee</p>
						</figcaption>
					</figure>
				</div>

				<div class="gallery__item">
					<figure>
						<img src="../img/cv-basketball.jpg" alt="Pickup games in Copenhagen"/>
						<figcaption class="gallery__caption">
							<p>I’ve been playing basketball for 9 years</p>
						</figcaption>
					</figure>
				</div>

				<div class="gallery__item">
					<figure>
						<img src="../img/cv-cooking.jpg" alt="Glass Noodle Salad"/>
						<figcaption class="gallery__caption">
							<p>I love cooking Thai food</p>
						</figcaption>
					</figure>
				</div>

				<div class="gallery__item">
					<figure>
						<img src="../img/cv-traveling.jpg" alt="Our AirBnB apartment in Barcelona"/>
						<figcaption class="gallery__caption">
							<p>I’ve traveled to over 39 countries in my life</p>
						</figcaption>
					</figure>
				</div>

				<div class="gallery__item">
					<figure>
						<img src="../img/cv-graffiti.jpg" alt="Graffiti in Lisboa"/>
						<figcaption class="gallery__caption">
							<p>I love taking pictures of quality street art</p>
						</figcaption>
					</figure>
				</div>

				<div class="gallery__item">
					<figure>
						<img src="../img/cv-music.jpg" alt="Concert at Mighty Sounds"/>
						<figcaption class="gallery__caption">
							<p>I'm a complete music junkie</p>
						</figcaption>
					</figure>
				</div>

			</div>
		<!-- .wrap -->
		</div>

		<div class="wrap">

			<h3 class="profile__subtitle margin-top--triple">Some of the books that I've enjoyed reading:</h3>
			
			<ul class="books-list card__list text-super-small">

		
				<li><a href="https://www.goodreads.com/book/show/18197267-don-t-make-me-think-revisited" target="_blank">Don't Make Me Think, Revisited</a> <span class="book-author">by Steve Krug</span></li>

				<li><a href="https://www.goodreads.com/book/show/70132.Information_Architecture_for_the_World_Wide_Web" target="_blank">Information Architecture for the World Wide Web</a> <span class="book-author">by Louis Rosenfeld &amp; Peter Morville</span></li>

				<li><a href="https://www.goodreads.com/book/show/12910749-mobile-first" target="_blank">Mobile First</a> <span class="book-author">by Luke Wroblewski</span></li>

				<li><a href="https://www.goodreads.com/book/show/12910715-designing-for-emotion" target="_blank">Design for Emotion</a> <span class="book-author">by Aarron Walter</span></li>

				<li><a href="https://www.goodreads.com/book/show/22758923-the-best-interface-is-no-interface" target="_blank">The Best Interface Is No Interface</a> <span class="book-author">by Golden Krishna</span></li>

				<li><a href="https://www.goodreads.com/book/show/447648.Getting_Real" target="_blank">Getting Real</a>, <a href="https://www.goodreads.com/book/show/6732019-rework" target="_blank">Rework</a>, <a href="https://www.goodreads.com/book/show/17316682-remote" target="_blank">Remote</a> <span class="book-author">by 37signals</span></li>

				<li><a href="https://www.goodreads.com/book/show/190560.Design_for_the_Real_World" target="_blank">Design for the Real World</a> <span class="book-author">by Victor Papanek</span></li>

				<li><a href="https://www.goodreads.com/book/show/2845800-design-for-human-scale" target="_blank">Design for Human Scale</a> <span class="book-author">by Victor Papanek</span></li>

				<li><a href="https://www.goodreads.com/book/show/894758.The_Green_Imperative" target="_blank">The Green Imperative</a> <span class="book-author">by Victor Papanek</span></li>

				<li><a href="https://www.goodreads.com/book/show/1604762.Designing_for_People" target="_blank">Designing for People</a> <span class="book-author">by Henry Dreyfuss</span></li>

				<li><a href="https://www.goodreads.com/book/show/1055472.The_Design_Of_Everyday_Things" target="_blank">The Design Of Everyday Things</a> <span class="book-author">by Donald A. Norman</span></li>

				<li><a href="https://www.goodreads.com/book/show/3401468-operating-manual-for-spaceship-earth" target="_blank">Operating Manual for Spaceship Earth</a> <span class="book-author">R. Buckminster Fuller</span></li>

				<li><a href="https://www.goodreads.com/book/show/1055472.The_Design_Of_Everyday_Things" target="_blank">The Design Of Everyday Things</a> <span class="book-author">by Donald A. Norman</span></li>

				<li><a href="https://www.goodreads.com/book/show/11457105-design-for-hackers" target="_blank">Design for Hackers</a> <span class="book-author">by David Kadavy</span></li>

				<li><a href="https://www.goodreads.com/book/show/13017981-the-shape-of-design" target="_blank">The Shape of Design</a> <span class="book-author">by Frank Chimero</span></li>

				<li><a href="https://www.goodreads.com/book/show/16128986-ux-for-lean-startups" target="_blank">UX for Lean Startups</a> <span class="book-author">by Laura Klein</span></li>

				<li><a href="https://www.goodreads.com/book/show/7723797-business-model-generation" target="_blank">Business Model Generation</a> <span class="book-author">by Alexander Osterwalder &amp; Yves Pigneur</span></li>

				<li><a href="https://www.goodreads.com/book/show/12952273-race-against-the-machine" target="_blank">Race Against The Machine</a> <span class="book-author">by Erik Brynjolfsson &amp; Andrew McAfee</span></li>
				
				<li><a href="https://www.goodreads.com/book/show/21.A_Short_History_of_Nearly_Everything" target="_blank">A Short History of Nearly Everything</a> <span class="book-author">by Bill Bryson</span></li>

				<li><a href="https://www.goodreads.com/book/show/160830.All_Marketers_Are_Liars" target="_blank">All Marketers Are Liars</a> <span class="book-author">by Seth Godin</span></li>

				<li><a href="https://www.goodreads.com/book/show/647.No_Logo" target="_blank">No Logo</a> <span class="book-author">by Naomi Klein</span></li>
			
				<li><a href="https://www.goodreads.com/book/show/1723464.The_Breakdown_of_Nations" target="_blank">The Breakdown of Nations</a> <span class="book-author">by Leopold Kohr</span></li>

				<li><a href="https://www.goodreads.com/book/show/304039.Discipline_and_Punish" target="_blank">Discipline and Punish</a> <span class="book-author">by Michel Foucault</span></li>

				<li><a href="https://www.goodreads.com/book/show/1845.Into_the_Wild" target="_blank">Into the Wild</a> <span class="book-author">by Jon Krakauer</span></li>

				<li><a href="https://www.goodreads.com/book/show/3876.The_Sun_Also_Rises" target="_blank">The Sun Also Rises</a> <span class="book-author">by Ernest Hemingway</span></li>

				<li><a href="https://www.goodreads.com/book/show/1156439.Doppler" target="_blank">Doppler</a> <span class="book-author">by Erlend Loe</span></li>

				<li><a href="https://www.goodreads.com/book/show/5129.Brave_New_World" target="_blank">Brave New World</a> <span class="book-author">by Aldous Huxley</span></li>

				<li><a href="https://www.goodreads.com/book/show/5470.1984" target="_blank">1984</a> <span class="book-author">by George Orwell</span></li>

				<li><a href="https://www.goodreads.com/book/show/11.The_Hitchhiker_s_Guide_to_the_Galaxy" target="_blank">The Hitchhiker’s Guide to the Galaxy</a> <span class="book-author">by Douglas Adams</span></li>

				<li><a href="https://www.goodreads.com/book/show/331256.Roadside_Picnic" target="_blank">Roadside Picnic</a> <span class="book-author">by Arkady &amp; Boris Strugatsky</span></li>

				<li><a href="https://www.goodreads.com/book/show/17690.The_Trial" target="_blank">The Trial</a> <span class="book-author">by Franz Kafka</span></li>

				<li><a href="https://www.goodreads.com/book/show/431.The_New_York_Trilogy" target="_blank">The New York Trilogy</a> <span class="book-author">by Paul Auster</span></li>
			</ul>
		<!-- .wrap -->
	</div>

	<!-- .section -->
</section>