<section class="profile__section">
    <div class="wrap">
        
        <h2 class="profile__title">Work experience</h2>

        <div class="company margin-top--double">
            <div class="company__meta"><span class="date">January 2015 – June 2015</span></div>
            <h3 class="company__title"><a href="http://folkmatic.com/" target="_blank">Folkmatic</a> <span class="company__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Copenhagen</span></h3>
            <div class="company__position">Front-end Developer (part-time)</div>
            <div class="company__text">
                @@include('../texts/folkmatic.html')
            </div>
        </div>

        <div class="company">
            <div class="company__meta"><span class="date">October 2014 – January 2015</span></div>
            <h3 class="company__title"><a href="http://spoiledmilk.com/" target="_blank">Spoiled Milk</a> <span class="company__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Copenhagen</span></h3>
            <div class="company__position">Front-end Development Intern (full-time)</div>
            <div class="company__text">
                @@include('../texts/spoiled-milk.html')
            </div>
        </div>

        <div class="company">
            <div class="company__meta"><span class="date">May 2011 – August 2011</span></div>
            <h3 class="company__title"><a href="http://fontai.com/" target="_blank">Fontai</a> <span class="company__place"><svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <path fill="#444444" d="M16,0C10.1,0,4,4.5,4,12c0,7.1,10.8,18.2,11.3,18.7c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3 C17.2,30.2,28,19.2,28,12C28,4.5,21.9,0,16,0z M16,16c-2.2,0-4-1.8-4-4s1.8-4,4-4s4,1.8,4,4S18.2,16,16,16z"></path></svg>Prague</span></h3>
            <div class="company__position">Assistant Project Manager (freelance)</div>
            <div class="company__text">
                @@include('../texts/fontai.html')
            </div>
        </div>
        
        <!-- .wrap -->
    </div>
    <!-- .profile__section -->
</section>