<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2015 – Now</span></div>
        <h3 class="card__title"><a href="https://github.com/WebCrashCourse/" target="_blank">Web Crash Course</a></h3>
        <div class="card__position">Founder &amp; Workshop Instructor</div>
    </header>

    <div class="card__cover">
        <a href="https://github.com/WebCrashCourse/" target="_blank"><img src="../img/wcc.jpg" alt="Web Crash Course workshop outline"></a>
    </div>

    <div class="card__text text-small">
        @@include('../texts/webcrash.html')
    </div>
    
</article>