<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2012 – Now</span></div>
        <h3 class="card__title"><a href="http://takemetodenmark.com" target="_blank">Take Me To Denmark</a></h3>
        <div class="card__position">Founder &amp; Main Curator</div>
    </header>

    <div class="card__cover">
        <a href="http://takemetodenmark.com" target="_blank"><img src="../img/tmtd.jpg" alt="Take Me To Denmark site preview"></a>
    </div>

    <div class="card__text text-small">
        @@include('../texts/tmtd.html')
    </div>
    
</article>