 <article class="card">
    
    <header class="card__header">
        <h2 class="card__title">Urban Cultures</h2>
        <div class="card__meta">2012 – Now</div>
    </header>
    
    <div class="card__content">
        <div class="card__cover">
            <a href="http://urbancultures.co" target="_blank"><img src="../img/uc.jpg" alt="Urban Cultures site preview"></a>
        </div>
        <div class="card__body">
            @@include('../texts/uc.html')
        </div>
    </div>
</article>