<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2012 – Now</span></div>
        <h3 class="card__title"><a href="http://urbancultures.co/creators/" target="_blank">Urban Cultures</a></h3>
        <div class="card__position">Cocreator &amp; Front-end Dev</div>
    </header>

    <div class="card__cover">
        <a href="http://urbancultures.co/creators/" target="_blank"><img src="../img/uc.jpg" alt="Urban Cultures site preview"></a>
    </div>

    <div class="card__text text-small">
        @@include('../texts/uc.html')
    </div>
    
</article>