<article class="card">
    
    <header class="card__header">
        <div class="card__meta"><span class="date">2015 – Now</span></div>
        <h3 class="card__title"><a href="https://github.com/iljapanic/panic-bachelor" target="_blank">Bachelor Project</a></h3>
        <div class="card__position">Creator &amp; Writer</div>
    </header>

    <div class="card__cover">
        <a href="https://github.com/iljapanic/panic-bachelor" target="_blank"><img src="../img/uc.jpg" alt="Urban Cultures site preview"></a>
    </div>

    <div class="card__text">
        @@include('../texts/bachelor.html')
    </div>
    
</article>