@import '../utils/variables.css';

/* .leftPanel {
  background: rgba(var(--gray-800), 0.15);
}

.mainPanel {
  background: rgba(var(--gray-600), 0.5);
}

.rightPanel {
  background: rgba(var(--gray-800), 0.15);
} */

@media (--tablet) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1.5rem;
  }
}
