<!doctype html>
<html class="no-js">
<head>

  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/" />

	{% include "_shared/head.html" %}


</head>

<body class="home">

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div class="hero">

    <div class="hero__header">
      <!-- HEADER -->
    	<header class="header" role="banner">
        {% import '_shared/main-nav.html' as nav %}
        {{nav.active('home')}}
    	</header>
    	<!-- /HEADER  -->
    </div>

    <main class="hero__main" role="main">

        <div class="hero__body">
          <article class="hero__text">
            <h1 class="visually-hidden">Ilja Panic</h1>
            <div class="wrapper-small" data-aos="fade-left" data-aos-duration="800">
              {% include "_text/intro.html" %}
            </div>
          </article>
        </div>

        <div class="hero__image">
          <div class="ilja" data-aos="fade" data-aos-duration="1600" data-aos-delay="400">
            <img src="/assets/img/ilja-cut.png" alt="Ilja Panic">
          </div>
        </div>

  	</main>

    <!-- {% include "_shared/footer.html" %} -->
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
