<!doctype html>
<html class="no-js">
<head>

  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/" />

	{% include "_shared/head.html" %}


</head>

<body class="home">

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="barba-wrapper" class="container">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/main-nav.html' as nav %}
      {{nav.active('home')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main fadeIn barba-container" role="main">

      <div class="wrapper-small">
        <article class="intro" data-aos="fade" data-aos-duration="800">
      		<h1 class="visually-hidden">Ilja Panic</h1>
          {% include "_text/intro.html" %}
        </article>
      </div>

      <div class="wrapper-small">
        {% include '_shared/icon-nav.html' %}
      </div>

  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
