<!doctype html>
<html class="no-js">
<head>

  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/" />

	{% include "_shared/head.html" %}


</head>

<body class="home">

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="top" class="container shadow">


    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/nav.html' as nav %}
      {{nav.active('home')}}
  	</header>
  	<!-- /HEADER  -->

    <!-- MAIN -->
    <main class="main" role="main">

      <article>
        <h1 data-aos="fade" data-aos-duration="800">Building the Web<br />one line at a time</h1>
        <div class="frontpage">
          <div class="frontpage__text fs-large" data-aos="fade" data-aos-duration="800" data-aos-delay="100">
            <div class="wrapper">
              {% include "_text/intro.html" %}
            </div>
          </div>
          <div class="frontpage__image margin-top-4" data-aos="fade" data-aos-duration="800" data-aos-delay="100">
            <img src="/assets/img/ilja-portrait.jpg" >
          </div>
        </div>
      </article>

  	</main>
    <!-- /MAIN -->

    <div class="margin-top-6">
      {% include '_shared/booking.html' %}
    </div>

    {% include "_shared/footer.html" %}

  </div>

  {% include "_shared/global-scripts.html" %}

</body>
</html>
