/*

Buttons

Buttons and their variations

Markup:
<a href="#" class="btn {{modifier_class}}">Button</a>

.btn--secondary       - A link that's sized like a button
.btn--link            - A link that's sized like a button

Styleguide 2.0

*/

.btn,
a.btn {
  background-color: tint($primary, 15%);
  border-radius: .2rem;
  border: 1px solid $primary-dark;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-weight: $fw-medium;
  font-size: ms(-1);
  letter-spacing: 0.1rem;
  line-height: 1;
  margin: 0 auto;
  max-width: 100%;
  padding: $spacing/2 $spacing;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 200ms;
  transition-property: background-color;
  user-select: none;
  width: auto;

  &:link,
  &:visited{
    text-decoration: none;
  }

  &:focus,
  &:hover {
    background-color: $primary-dark;
  }

  &:focus{
    outline: .1rem dotted $gray3;
  }

  &:active{
    background-color: $primary;
  }
}

.btn--secondary{
  background-color: $gray6;
  color: $gray1;

  &:link,
  &:visited{
    color: $gray1;
  }

  &:focus,
  &:hover{
    background-color: $gray5;
    color: $gray1;
  }

  &:active{
    color: $gray3;
  }
}

.btn--link{
  background-color: transparent;
  color: $link;
  text-decoration: underline;

  &:link{
    color: $link;
  }

  &:visited{
    color: $link--visited;
  }

  &:focus,
  &:hover{
    color: $link--hover;
    background-color: transparent;
  }

  &:active{
    color: $link--active;
    background-color: transparent;
  }
}
