.card {
  margin-top: $spacing*2;

  .card__header {
    max-width: 65%;
    align-items: center;
    @include center-box;

  }

  .card__image img {
    // border: 3px solid tint($secondary, 50%);
    border-radius: 50%;
    display: inline-block;
    max-width: 128px;
    border: 1px solid $gray6;
  }


  .card__title {
    margin-top: $spacing/2;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .card__role {
    color: $primary-dark;
    font-size: ms(-2);

    @include text-bold;
    text-transform: uppercase;
    // letter-spacing: 0.05rem;

  }

  .card__description {
    margin-top: $spacing;
  }
}
