.footer {
  text-align: center;
  padding: $spacing*4 $spacing/2 $spacing $spacing/2;
  font-size: $font-size--small;
  color: shade($secondary, 45%);
  overflow: hidden;

  p {
    padding-bottom: 0;
  }

  @include MQ(L) {
    padding: $spacing*4 $spacing/2 $spacing/2 $spacing/2;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .footer__contact {
    width: percentage(1/3);
    text-align: left;
  }

  .footer__social {
    width: percentage(1/3);
    text-align: center;
  }

  .footer__message {
    width: percentage(1/3);
    text-align: right;
  }
}

.footer__contact a {
  color: inherit;
}
