$form-border-color: $gray-lightest;

.form {

  label {
    display: block;
    font-weight: $fw-bold;
    margin-bottom: $spacing/2;
    color: $primary;
    letter-spacing: 0.075rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $form-border-color;
    border-radius: 0.35rem;
    width: 100%;
    max-width: 480px;
    padding: $spacing/3 $spacing/4;
    line-height: 1;

    &:focus {
      outline: none;
      border-color: $primary;
    }

    @include placeholder {
      color: $gray-lighter;
    }
  }

  textarea {
    line-height: 1.5;
    font-size: ms(-1);
  }

  .form__item {
    margin-top: $spacing*1.5;
  }

  .form__radio {
    padding-left: $spacing/4;
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    margin-bottom: $spacing/2;

    label {
      display: inline-block;
      font-weight: $fw-base;
      margin-bottom: 0;
      color: $gray-dark;
      letter-spacing: 0;
    }

    input {
      margin-right: $spacing/2;
    }
  }

  .label-note {
    font-size: ms(-1);
    letter-spacing: 0;
    color: $gray-light;
    font-weight: $fw-base;
  }

  .form__submit {
    margin-top: $spacing*2;
  }

  .form__response {
    margin-top: $spacing;
    text-align: left;
    font-weight: $fw-medium;
  }

  .alert__loading {
    color: $gray-light;
  }

  .alert__success {
    color: $alert-green;
  }

  .alert__error {
    color: $alert-red;
  }

}

$radio-size: 18px;
$radio-checked-size: 12px;

.form__radio {

  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
  }

  input[type="radio"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 6px;
    width: $radio-size;
    height: $radio-size;
    border: 1px solid $gray-light;
    border-radius: 50%;
    background: white;
  }

  input[type="radio"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: $radio-checked-size;
    height: $radio-checked-size;
    background: $primary-dark;
    position: absolute;
    margin-top: 6px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }

  input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
  }

  input[type="radio"]:checked + label:after {
    opacity: 1;
  }
}
