.header {
  margin: 0 auto;
  max-width: $wrapper;
  padding: $spacing 2rem $spacing/2 2rem;
}

@media($media-medium) {
  .header {
    .logo {
      float: left;
      width: percentage(1/4);
    }
    .main-nav {
      float: left;
      width: percentage(3/4);
    }
  }
}
