.hero {

  @include MQ(L) {

    height: 100vh;
    // background-color: pink;
    // overflow: hidden;
    // position: relative;

    .hero__header {
      height: 12vh;
    }

    .hero__main {
      position: relative;
      display: flex;
      // background-color: rgba(blue, 0.3);
      height: 88vh;
      align-items: stretch;

      .hero__image {
        width: 45%;
        // background-color: rgba(red, 0.8);
        order: 1;
        display: flex;
        align-self: flex-end;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // height: 100%;
        // align-items: flex-end;
      }

      .hero__body {
        width: 55%;
        order: 2;
        display: flex;
        align-items: center;
        // background-color: red;
      }
    }
  }

}

.hero__image {
  img {
    display: block;
    // background-color: pink;
    width: 95%;
    @include center-box;
  }
}

.hero__text {
  @include center-box;

  p {
    margin-bottom: $spacing/2;
    font-size: ms(1);
  }
}

