$status-size: 7px;

.status {


  span {
    display: inline-block;
    width: $status-size;
    height: $status-size;
    background-color: $status-green;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    margin-right: $spacing/3;
  }

  a {
    display: inline-block;
    margin-top: $spacing/4;
    font-weight: $fw-bold;
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    font-size: ms(-1);
  }

  a:hover {
    color: $link;
    border-bottom: 1px solid $link;
  }
}
