.main {
  margin-top: $spacing*2;
}

.wrapper{
  margin: 0 auto;
  max-width: $wrapper;
  padding: 0 2rem;
}

.wrapper-large{
  margin: 0 auto;
  max-width: $wrapper-large;
  padding: 0 2rem;
}

.wrapper-small{
  margin: 0 auto;
  max-width: $wrapper-small;
  padding: 0 2rem;
}
