.container {
  border: 6px solid $primary-light;
  background-color: white;

  @include mq-desktop {
    border: 32px solid $primary-light;
  }
}

.main {

  padding: 0 $spacing;

  @include mq-tablet {
    padding-left: 18%;
    padding-right: 5%;
  }
}

.wrapper{
  max-width: $wrapper;
}

.wrapper-large {
  max-width: $wrapper-large;
}

.wrapper-small {
  max-width: $wrapper-small;
}
