.main-nav {

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    color: $gray3;
    display: inline-block;
    font-size: $font-size--small;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: $spacing/2;
    text-decoration: none;
  }

  .active a {
    color: $gray2;
    border-bottom: 1px solid $gray4;
  }

}

@media($media-medium) {

  .main-nav ul {
    border-top: 1px solid $gray4;
  }

  .main-nav a {
    margin-right: 0;
    padding: $spacing/1.25 2rem;
    &:hover {
      color: $gray2;
    }
  }

  .main-nav .active a {
    border-bottom: 0;
    border-top: 2px solid $gray3;
    color: $gray2;
  }
}
