.projects {

  .item {
    margin-bottom: $spacing*3;
    background-color: shade($secondary, 3%);
    border: 1px solid shade($secondary, 8%);
    border-radius: 0.35rem;
  }

  .item__date {
    font-size: ms(-2);
    color: $gray3;
    line-height: 1;
  }

  .item__title a {
    color: $gray2;
    color: shade($gray2, 15%);

    &:hover {
      color: $primary;
    }

    &:hover img {
      opacity: 1;
    }
  }

  .item__image {
    z-index: -1;

    img {
      width: 100%;
      border-top-left-radius: 0.35rem;
      border-top-right-radius: 0.35rem;
    }
  }

  .item__title img {
    padding-bottom: 0.35rem;
    display: inline-block;
    max-width: 22px;
    vertical-align: middle;
    opacity: 0.75;
    transition: opacity 0.35s ease-in-out;
  }

  .item__subtitle {
    line-height: 1;
    font-size: ms(-1);
  }

  .item__meta {
    padding: $spacing $spacing 0 $spacing;
  }

  .item__body {
    margin-top: $spacing*0.75;
    line-height: 1.5;
    font-size: ms(-1);
    padding: 0 $spacing $spacing $spacing;
  }

  .item__list-title {
    display: inline-block;
    margin-top: $spacing/2;
    color: $gray3;
  }

  .item__list {
    list-style-type: none;
    margin-left: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: $spacing/2;
      font-size: ms(-2);

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      color: $gray1;
      &:hover {
        color: $primary;
      }
    }
  }
}
