$project-item-radius: 0.5rem;
$project-item-spacing: $spacing*2;
$project-item-border: 0;

.projects {

  .item {
    margin-top: $spacing*2;
  }

  @include mq-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    .item {
      margin-top: $project-item-spacing;
      width: percentage(1/2);
      padding-right: $project-item-spacing;
    }
  }
}

.projects .item {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  .item__inner {
    width: 100%;
  }

}

.projects .item__inner {
  align-items: stretch;
  border: 1px solid $primary-light;
  border-radius: $project-item-radius;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: all .5s cubic-bezier(.77,0,.175,1);

  a {
    color: $primary;
  }


  &:hover {
    background-color: tint($primary-light, 99%);
    border-color: shade($primary-light, 10%);

    a {
      color: $primary-dark;

      &:hover {
        color: $link;
      }
    }

    .item__meta {
      color: $gray;
    }
  }

  .item__meta,
  .item__body,
  .item__footer {
    width: 100%;
  }

  .item__body {
    align-self: stretch;

  }

  .item__meta {
    align-self: flex-start;
  }

  .item__footer {
    align-self: flex-end;
  }
}


.projects .item__meta {
  display: flex;
  align-items: center;
  padding: $spacing/2 $spacing/2;
  color: $gray-light;
  transition: all .5s cubic-bezier(.77,0,.175,1);

  .item__year,
  .item__role {
    width: percentage(1/2);
    font-weight: $fw-base;
    line-height: 1;
    font-size: ms(-2);
    letter-spacing: 0.025rem;
  }

  .item__year {
    text-align: left;
  }

  .item__role {
    text-align: right;
  }
}

.projects .item {
  .item__body {
    padding: $spacing $spacing*2 $spacing*2 $spacing*2;
  }

  .item__text {
    margin-top: $spacing/2;
    font-size: ms(-1);
  }

  .item__footer {
    padding: 0 $spacing/2 $spacing/2 $spacing/2;
    text-align: center;

    a {
      font-size: ms(-3);
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: $fw-bold;
      color: $gray-light;

      &:hover {
        color: $link;

        svg {
          transform: translateX(1px);
        }

        svg path {
          stroke: $link;
        }
      }
    }

    svg {
      vertical-align: middle;
      position: relative;
      bottom: 2px;
      width: 18px;
      margin-left: -4px;
      transition: all 0.35s ease-in-out;
      stroke-width: 2;
      path {
        stroke: $gray-light;
      }
    }
  }
}
