$arrow-size: 3rem;

.profile {
  padding: 0 $spacing/2;
}

.profile__text {
  max-width: $wrapper-small;
  padding: 0 $spacing*2;

  p, ul {
    font-size: $font-size--small;
    padding-bottom: $spacing/2;
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      display: inline;
      &:after {
        content: ', ';
      }
    }
  }
}

.profile__image {

  margin-top: $arrow-size;

  img {
    border: 1px solid darken($gray1, 1%);
    border-radius: 50%;
    max-width: 72px;
  }
}

@media ($media-large) {
  .profile__image {
    img {
      max-width: 92px;
    }
  }
}


.bubble {
  background-color: $gray6;
  padding: $spacing;
  border-radius: 1rem;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -$arrow-size*0.75;
    left: 7%;
    width: 0;
    border: 0;
    border-left-width: $arrow-size;
    border-bottom-width: $arrow-size;
    border-style: solid;
    border-color: transparent $gray6;
  }
}
