.resume {

  margin-top: $spacing*3;
  overflow: hidden;

  @include MQ(M) {
    display: flex;
    flex-wrap: wrap;

    .resume__main {
      flex-basis: percentage(2/3);
      width: percentage(2/3);
      padding-right: $spacing*2;
    }

    .resume__sidebar {
      flex-basis: percentage(1/3);
      width: percentage(1/3);
      padding-left: $spacing;
    }
  }


  .section {
    margin-bottom: $spacing*2;
  }

  .section__title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: $spacing/2;
  }
}

.resume__main {
  .item {
    margin-bottom: $spacing*1.5;
    background-color: shade($secondary, 2%);
    border: 1px solid shade($secondary, 5%);
    border-radius: 0.35rem;
    padding: $spacing*0.75 $spacing $spacing $spacing;
  }

  .item__date {
    font-size: ms(-2);
    color: $gray3;
  }

  .item__title {
    color: $gray2;
  }

  .item__extra {
    font-size: ms(-2);
    color: $gray3;
    font-weight: $fw-medium;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.25rem;
  }

  .item__subtitle {
    font-size: ms(-1);

    a {
      color: $gray3;
      font-weight: $fw-medium;
    }
  }

  .item__location {
    color: $gray3;
    font-size: ms(-2);
  }

  .item__body {
    margin-top: $spacing/4;
    line-height: 1.5;
    font-size: ms(-1);
  }

  .item__list-title {
    display: inline-block;
    font-size: ms(-1);
    color: $gray3;
  }

  .item__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;

    li {
      display: inline-block;
      margin-right: $spacing/2;
      font-size: ms(-2);
      line-height: 1.5;

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      color: $gray1;
      &:hover {
        color: $primary;
      }
    }
  }

  .item__list.item__list--block {
    li {
      display: block;
      margin-right: 0;
      margin-top: $spacing/4;
    }
  }
}

.resume-extra {
  text-align: center;
  margin-top: $spacing;

  .section {
    margin-bottom: $spacing*2;
  }

  .section__title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: $spacing/2;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: ms(-1);
      margin: 0 $spacing/2 $spacing/4 $spacing/2;
    }
  }
}

.skills {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: ms(-1);

  li {
    margin-bottom: $spacing/2;
  }
}

$indicator-height: 2px;

.indicator {
  background-color: $gray5;
  display: block;
  height: $indicator-height;
  position: relative;
  width: 90%;
  margin-top: $spacing/8;

  .indicator__base {
    height: $indicator-height;
    left: 0;
    position: absolute;
  }

  .indicator__level {
    // background-color: $primary-dark;
    height: $indicator-height;
    left: 0;
    position: absolute;
  }

  .indicator__level-inner {
    background-color: $primary-dark;
    height: $indicator-height;
    left: 0;
    position: absolute;
    // width: 100%;
  }
}

.extra {

  .extra__toggle {
    margin-top: $spacing/4;
    text-transform: uppercase;
    font-size: ms(-2);
    font-weight: $fw-medium;
    cursor: pointer;
    color: rgba($primary-dark, 0.75);
    transition: all 0.05s ease-in;

    &:hover {
      color: rgba($primary-dark, 1);
    }
  }

  .less {
    display: block;
    margin-top: $spacing/2;
  }

  svg {
    vertical-align: middle;
    margin-bottom: 3px;
    height: 12px;

    @include MQ(M) {
      height: 14px;
    }

    path {
      stroke: $primary !important;
    }
  }
}
