.resume {

  margin-top: $spacing*1.5;
  overflow: hidden;

  @include mq-desktop {
    display: flex;
    flex-wrap: wrap;

    .resume__main {
      width: percentage(7/12);
    }

    .resume__sidebar {
      width: percentage(5/12);
    }
  }

  .section {
    margin-bottom: $spacing*3;
  }

  .section__title {
    letter-spacing: 0.1rem;
    margin-bottom: $spacing*1.5;
    margin-top: $spacing*2.5;
    text-transform: uppercase;
  }
}

.resume__main {
  .item {
    margin-bottom: $spacing*2;
  }

  .item__date {
    font-size: ms(-1);
    color: $gray-lighter;
  }

  .item__title {
    color: $gray;
    margin-top: $spacing/4;
    position: relative;
  }

  .item__extra {
    font-size: ms(-1);
    display: inline-block;
    color: $gray-lighter;
  }

  .item__subtitle {
    font-size: ms(-1);
    margin-top: $spacing/6;

    a {
      color: $gray-light;
      font-weight: $fw-medium;

      &:hover {
        color: $link;
      }
    }
  }

  .item__location {
    color: $gray-lighter;
    font-size: ms(-2);
    font-weight: $fw-base;
    display: inline-block;
    margin-left: $spacing/6;
  }

  .item__body {
    margin-top: $spacing/4;
    line-height: 1.5;
    font-size: ms(-1);
    max-width: 72%;
  }
}

.client {
  margin-top: $spacing/8;

  .client__title {
    display: inline-block;
    font-size: ms(-3);
    text-transform: uppercase;
    letter-spacing: 0.075rem;
    margin-right: $spacing/4;

  }

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;

    li {
      display: inline-block;
      margin-right: $spacing/2;
      font-size: ms(-2);
      font-weight: $fw-medium;
      line-height: 1.5;

      &:last-of-type {
        margin-right: 0;
      }
    }

    a {
      color: $gray-light;
      &:hover {
        color: $link;
      }
    }
  }
}

.courses {
  margin-top: $spacing/8;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;

    li {
      display: block;
      margin-top: $spacing/4;
      font-size: ms(-2);
      font-weight: $fw-medium;
      color: $gray;
      line-height: 1.5;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}


.extra {

  margin-top: $spacing/8;

  @include mq-desktop {
    margin-top: 0;
  }

  .extra__toggle {
    display: inline-block;
    text-transform: uppercase;
    font-size: ms(-3);
    font-weight: $fw-medium;
    cursor: pointer;
    color: rgba($primary-dark, 0.75);
    transition: all 0.05s ease-in;
    letter-spacing: 0.1rem;

    &:hover {
      color: rgba($primary-dark, 1);
    }
  }

  .less {
    display: block;
    margin-top: $spacing/2;
  }

  svg {
    margin-right: -3px;
    vertical-align: middle;
    margin-bottom: 4px;
    height: 12px;

    path {
      stroke: $primary !important;
      stroke-width: 2;
    }
  }
}

// SIDEBAR

.skills {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: ms(-1);

  li {
    margin-bottom: $spacing*0.75;
  }
}

$indicator-height: 2px;

.indicator-label {
  font-weight: $fw-medium;
  color: $gray;
}

.indicator {
  background-color: $gray-lightest;
  display: block;
  height: $indicator-height;
  position: relative;
  max-width: 280px;
  margin-top: $spacing/4;

  .indicator__base {
    height: $indicator-height;
    left: 0;
    position: absolute;
  }

  .indicator__level {
    height: $indicator-height;
    left: 0;
    position: absolute;
  }

  .indicator__level-inner {
    background-color: $primary;
    height: $indicator-height;
    left: 0;
    position: absolute;
  }
}

// RESUME FOOTER

.resume-extra {

  .section {
    margin-bottom: $spacing*3;
  }

  .section__title {
    letter-spacing: 0.075rem;
    margin-bottom: $spacing/2;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: ms(-1);
      margin-bottom: $spacing/4;
      margin-right: $spacing;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

