.services {

  .item__header {
    margin-bottom: $spacing/2;
  }

  .item {
    margin-top: $spacing*2;

    @include mq-tablet {
      display: flex;
      flex-wrap: wrap;

      .item__header {
        width: percentage(1/4);
        margin-bottom: 0;
      }

      .item__body {
        width: percentage(3/4);
      }
    }
  }

}

.services {

  .item__title {
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: $fw-bold;
    font-size: ms(-2);
    color: $primary;
  }

  .item__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .item__list li {
    width: percentage(1/2);
    margin-bottom: $spacing*0.75;
    font-size: ms(-1);
    line-height: $line-height-heading;
  }

}
