.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    text-align: center;
    margin-right: $spacing*1.25;
    opacity: 0.75;
    transition: opacity 0.25s ease-in-out;
    width: auto;

    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      opacity: 1;
    }
  }

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 22px;
  }

}
