@font-face {
  font-family: 'National 2';
  src: url('national-2-web-regular.woff2') format('woff2'),
    url('national-2-web-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'National 2';
  src: url('national-2-web-regular-italic.woff2') format('woff2'),
    url('national-2-web-regular-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'National 2';
  src: url('national-2-web-medium.woff2') format('woff2'),
    url('national-2-web-medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'National 2';
  src: url('national-2-web-medium-italic.woff2') format('woff2'),
    url('national-2-web-medium-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'National 2';
  src: url('national-2-web-bold.woff2') format('woff2'),
    url('national-2-web-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'National 2';
  src: url('national-2-web-bold-italic.woff2') format('woff2'),
    url('national-2-web-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* Tiempos Headline */

@font-face {
  font-family: 'Tiempos';
  src: url('tiempos-headline-web-light.woff2') format('woff2'),
    url('tiempos-headline-web-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Tiempos';
  src: url('tiempos-headline-web-light-italic.woff2') format('woff2'),
    url('tiempos-headline-web-light-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos';
  src: url('tiempos-headline-web-medium.woff2') format('woff2'),
    url('tiempos-headline-web-medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Tiempos';
  src: url('tiempos-headline-web-medium-italic.woff2') format('woff2'),
    url('tiempos-headline-web-medium-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
