.about__main p:first-of-type
  +large()
    margin-top: 0

.about__image img
  max-width 55%
  +large()
    max-width 100%

.about__sidebar .side-title
  margin-top $spacing
  margin-bottom $spacing*0.25
  text-transform none
  letter-spacing 0

.about__contact
  font-size $small

.about__projects
  margin-top 0
  font-size $micro
  line-height 1.65

