// .footer
// 	font-family: $sans
// 	border-top $separator

// 	.footer__colophon
// 		margin-top $spacing*0.5
// 		color $gray

// footer
.footer
  margin-top $spacing*2
  padding-top $spacing
  padding-bottom $spacing
  font-size $micro
