.header
  background-color $bg-dark

  +medium()
    height 100vh
    position fixed
    top 0
    left 0
    width $sidebar
    display flex
    flex-direction column
    justify-content space-between

  ul
    font-size $small-font

  a
    text-decoration none
    font-family $sans
    color $gray-lightest
    &:hover
      color $gray

a.site-title
  display block
  color $gray-light
  font-size $small

.site-subtitle
  display none
  +medium()
    display block
    font-size $micro
    margin-top $spacing*0.3
    color $gray

.header__social
  display none
  +medium()
    display block

.header__nav
  margin-top $spacing*0.35
  +medium()
    margin-top 0
