.page-home
  // min-height 80vh

  img
    margin-top $spacing

.intro
  p
    font-size $large
    line-height $leading*1.2

.work-in-progress
  font-size $micro
  margin-top $spacing*2
  color $gray-dark
