.nav
  list-style-type none
  padding 0
  margin 0

.nav ul
  width 100%
  margin 0
  padding 0

.nav li
  margin 0 $spacing*0.5 0 0
  display inline-block

  +medium()
    display block
    margin $spacing*0.5 0

.nav .active a
  color $site-color
  font-weight $fw-medium
