.post-list .post

	margin-top: $spacing*2

	.post__title
		font-size: ms(2)
		margin: 0


	.post__title a
		text-decoration: none


	.post__meta
		color: $gray
		margin-top: $spacing/2

.post
	max-width $body
	margin 0 auto

// .post p
// 	max-width: $paragraph
