.resume-list

  margin-top $spacing*1.25

  +large()
    margin-top 0

  .item
    margin-bottom $spacing*1.5
    &:last-of-type
      margin-bottom 0

  .item__title
    margin $spacing*0.25 0 0
    line-height 1


  .item__date
    font-size $micro
    color $gray

  .item__subtitle
    margin-top: $spacing*0.35
    font-size $micro
    color: $gray-dark

  .item__location
    color: $gray

  .item__body p
    font-size $small
    margin-top $spacing*0.25
  a
    text-decoration: none

// CLIENTS

.clients
  list-style-type none
  margin $spacing 0 0 0
  padding 0
  display flex
  flex-wrap no-wrap
  align-items center

  +medium()
    width 75%

  +large()
    width 100%
    &:nth-of-type(1)
      margin-top 0


  li
    margin-right $spacing

  a
    outline none

  a:hover img
    filter none
    opacity 1

  img
    vertical-align middle
    display inline-block
    filter grayscale(100%)
    opacity 0.75
    transition all 0.25s ease-in-out
    width 100%

  // 1st row
  .quadric
    width 45%

  .tdc
    width 20%

  .radikale
    width 40%

  // 2nd row
  .juke
    width 70%
  .n1singer
    margin-top -10px
  .squirl
    width 90%
  .bergs
    width 65%

  +large()
    .momondo
      width 142px

    .quadric
      width 112px

    .tdc
      width 48px

    .radikale
      width 112px

    .juke
      width 72px

    .n1singer
      width 124px

    .squirl
      width 112px

    .bergs
      width 72px


// TOOLS
.tools
  list-style-type none
  margin 0
  padding 0
  display flex
  flex-wrap wrap
  align-items center

  li
    display block
    margin-right $spacing*0.65
    width 10%
    margin-top $spacing
    +large()
      width auto
      margin-top 0

  svg
    display block
    width 32px


// SKILLS
.skills
  list-style-type none
  margin 0
  padding 0
  display grid
  grid-template-columns 1fr 1fr
  .item
    margin-top $spacing*0.5
    font-size $small
    +large()
      margin-top 0
      margin-bottom $spacing*0.5
