// social icons
ul.social
  list-style-type none
  margin 0
  padding 0

.social li
  display inline-block
  margin 0
  margin-right $spacing*0.175
  &:last-of-type
    margin-right 0

.social a
  color $gray-dark
  letter-spacing $letter-spacing
  text-decoration none

  svg
    vertical-align middle
    width 14px

  svg path,
  svg circle
    fill $gray-dark
    transition fill 0.25s ease-in-out

.social .email a:hover svg path
  fill $gray-light

.social .twitter a:hover svg path
  fill $twitter

.social .instagram a:hover svg path,
.social .instagram a:hover svg circle
  fill $instagram

.social .linkedin a:hover svg path
  fill $linkedin

.social .github a:hover svg path
  fill $github

