/* CONTAINER - GRID */
.container {
  padding: 0 var(--spacing-s);
}

@media (--medium) {
  .container {
    display: grid;
    grid-template-columns: var(--grid-spec);
    gap: var(--grid-gap);
    padding: 0;
  }
  .content-column {
    grid-column: 2/3;
  }
}

/* margin auto */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* MARGIN - TOP */
.mt-0 {
  margin-top: 0;
}

.mt-xs {
  margin-top: var(--spacing-xs);
}

.mt-s {
  margin-top: var(--spacing-s);
}

.mt {
  margin-top: var(--spacing);
}

.mt-m {
  margin-top: var(--spacing-m);
}

.mt-l {
  margin-top: var(--spacing-l);
}

.mt-xl {
  margin-top: var(--spacing-xl);
}

.mt-xxl {
  margin-top: var(--spacing-xxl);
}

.mt-xxxl {
  margin-top: var(--spacing-xxxl);
}

/* MARGIN - BOTTOM */
.mb-0 {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: var(--spacing-xs);
}

.mb-s {
  margin-bottom: var(--spacing-s);
}

.mb {
  margin-bottom: var(--spacing);
}

.mb-m {
  margin-bottom: var(--spacing-m);
}

.mb-l {
  margin-bottom: var(--spacing-l);
}

.mb-xl {
  margin-bottom: var(--spacing-xl);
}

.mb-xxl {
  margin-bottom: var(--spacing-xxl);
}

/* MARGIN - RIGHT */
.mr-0 {
  margin-right: 0;
}

.mr-xs {
  margin-right: var(--spacing-xs);
}

.mr-s {
  margin-right: var(--spacing-s);
}

.mr {
  margin-right: var(--spacing);
}

.mr-m {
  margin-right: var(--spacing-m);
}

.mr-l {
  margin-right: var(--spacing-l);
}

.mr-xl {
  margin-right: var(--spacing-xl);
}

.mr-xxl {
  margin-right: var(--spacing-xxl);
}


/* MARGIN - LEFT */
.ml-0 {
  margin-left: 0;
}

.ml-xs {
  margin-left: var(--spacing-xs);
}

.ml-s {
  margin-left: var(--spacing-s);
}

.ml {
  margin-left: var(--spacing);
}

.ml-m {
  margin-left: var(--spacing-m);
}

.ml-l {
  margin-left: var(--spacing-l);
}

.ml-xl {
  margin-left: var(--spacing-xl);
}

.ml-xxl {
  margin-left: var(--spacing-xxl);
}


/* TEXT */
.no-underline {
  text-decoration: none;
}

.fw-base {
  font-weight: var(--fw-base);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.sans {
  font-family: var(--font-sans);
}

.serif {
  font-family: var(--font-serif);
}

.uppercase {
  text-transform: uppercase;
}

.tracking {
  letter-spacing: 1px;
}

/* text align */
.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

/* font sizing */

.base {
  font-size: var(--size-base);
}

.xs {
  font-size: var(--size-xs);
}

.small {
  font-size: var(--size-small);
}

.large {
  font-size: var(--size-large);
}

/* COLORS */
.color-base {
  color: var(--color-base);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-dim {
  color: var(--color-dim);
}

.color-faint {
  color: var(--color-dim);
}

.bg-faint {
  background-color: var(--color-faint);
}

/* DISPLAY */
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* ANCHOR - only show */
.anchor {
  margin-left: 0.5rem;
  opacity: 0;
}

:--headings:hover .anchor {
  opacity: 1;
}

.anchor svg {
  display: inline-block;
}

.anchor {
  display: none;
}

.post .anchor {
  display: inline-block;
}

/* embeds */
.gatsby-resp-iframe-wrapper {
  margin: var(--spacing) auto;
}
