<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ page_bookshelf.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_bookshelf.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/bookshelf/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="barba-wrapper" class="container scene">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/main-nav.html' as nav %}
      {{nav.active('bookshelf')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main barba-container" role="main">

        <div class="wrapper">
          <h1 class="ta-center" data-aos="fade" data-aos-duration="800">Books that inspired me and shaped my world view</h1>
        </div>

        <div class="wrapper-large">

          <section class="books margin-top-4">
            <h2 class="ta-center uppercase" data-aos="fade" data-aos-duration="800">Non-Fiction</h2>
            <div class="books-grid">
              {% include "_loops/books-non-fiction.html" %}
            </div>
          </section>

          <section class="books margin-top-6">
            <h2 class="ta-center uppercase" data-aos="fade" data-aos-duration="800">Beletry</h2>
            <div class="books-grid">
              {% include "_loops/books-beletry.html" %}
            </div>
          </section>

        </div>

  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
