<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page_bookshelf.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_bookshelf.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/bookshelf/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="top" class="container shadow">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/nav.html' as nav %}
      {{nav.active('bookshelf')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main" role="main">


        <h1 data-aos="fade" data-aos-duration="800">Books that inspired me &amp;<br />shaped my world view</h1>

        <section class="books margin-top-6">
          <h2 class="uppercase letter-spacing" data-aos="fade" data-aos-duration="800">Non-Fiction</h2>
          <div class="books-grid">
            {% include "_loops/books-non-fiction.html" %}
          </div>
        </section>

        <section class="books margin-top-8">
          <h2 class="uppercase letter-spacing" data-aos="fade" data-aos-duration="800">Beletry</h2>
          <div class="books-grid">
            {% include "_loops/books-beletry.html" %}
          </div>
        </section>

  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
