<header class="header" role="banner">

  <div class="grid grid--medium">

    <div class="column column--light">
      <div class="logo">
        <a href="#">
          <span class="first-name">Ilja&nbsp;Panic</span>
        </a>
      </div>
    </div>

    <div class="column">
      <nav class="main-nav" role="navigation">
        <ul>
          <li><a href="#">Work</a></li>
          <li><a href="#">Consulting</a></li>
          <li class="active"><a href="#">Mentoring</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>
