<div class="hero hero--consulting">
	<div class="hero__inner">
		<blockquote class="hero__quote">&ldquo;We must go from boxes to arrows.<br />Tomorrow belongs to those who connect.&CloseCurlyDoubleQuote;</blockquote>
		<p class="hero__quote-author">— Peter Morville (<cite>Intertwingled</cite>, 2014)</p>
	</div>
</div>
