<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page_projects.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_projects.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/projects/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="top" class="container shadow">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/nav.html' as nav %}
      {{nav.active('projects')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main" role="main">

      <h1 data-aos="fade" data-aos-duration="800">Sites and personal projects</h1>
      <section class="projects margin-top-4">
        {% include "_loops/projects.html" %}
      </section>

      <h2 class="margin-top-8 uppercase letter-spacing" data-aos="fade" data-aos-duration="800">Work showcase</h2>
      <section class="showcase margin-top-6">
        {% include "_loops/showcase.html" %}
      </section>

  	</main>

    <div class="margin-top-4">
      {% include '_shared/booking.html' %}
    </div>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
