<header class="header" role="banner">

  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

	<div class="header__title">
	  <a class="site-title" href="{{ "/" | relative_url }}">
      {{ site.title | escape }}
      <span class="site-subtitle">Design, Code, etc.</span>
    </a>
	</div>

  <div id="main-nav" class="header__nav">
    {% include main-nav.html %}
  </div>

  <div class="header__menu">
    <div class="header__social">
      {% include social.html %}
    </div>
  </div>

</header>
