{% assign current = page.url | downcase | split: '/' %}

<nav class="nav">
	<ul class="nav nav--main">
<!-- 	  <li {% if current[1] == 'blog' %}class='active'{% endif %}>
	  	<a href='/blog'>Blog</a>
	  </li> -->
<!-- 	  <li {% if current[1] == 'notes' %}class='active'{% endif %}>
	  	<a href='/notes'>Notes</a>
	  </li> -->
	  <li {% if current[1] == 'bio' %}class='active'{% endif %}>
	  	<a href='/bio'>Bio</a>
	  </li>
<!-- 	  <li {% if current[1] == 'projects' %}class='active'{% endif %}>
	  	<a href='/projects'>Projects</a>
	  </li> -->
	  <li {% if current[1] == 'links' %}class='active'{% endif %}>
	  	<a href='/links'>Links</a>
	  </li>
	  <li {% if current[1] == 'bookshelf' %}class='active'{% endif %}>
	  	<a href='/bookshelf'>Bookshelf</a>
	  </li>

	</ul>
</nav>
