<ul class="clients">
  <li class="momondo">
    <a href="https://momondo.com/" target="_blank" title="Momondo">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/momondo.svg" alt="Momondo">
    </a>
  </li>
  <li class="quadric">
    <a href="https://www.quadric.net/" target="_blank" title="Quadric">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/quadric.svg" alt="Quadric">
    </a>
  </li>
  <li class="tdc">
    <a href="https://tdc.dk/" target="_blank" title="TDC">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/tdc.svg" alt="TDC">
    </a>
  </li>
  <li class="radikale">
    <a href="https://www.radikale.dk/" target="_blank" title="Radikale">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/radikale.svg" alt="Radikale">
    </a>
  </li>
</ul>

<ul class="clients">
  <li class="juke">
    <a href="https://juke.com/" target="_blank" title="Juke">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/juke.svg" alt="Juke">
    </a>
  </li>
  <li class="n1singer">
    <a href="https://www.n1singer.com/" target="_blank" title="N+1 Singer">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/n1singer.png" alt="N+1 Singer">
    </a>
  </li>
  <li class="squirl">
    <a href="http://www.squirl.co/" target="_blank" title="Squirl">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/squirl.png" alt="Squirl">
    </a>
  </li>
  <li class="bergs">
    <a href="http://www.bergspotter.com/" target="_blank" title="Bergs Potter">
      <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="/images/clients/bergs.svg" alt="Bergs Potter">
    </a>
  </li>
</ul>
