<ul class="social-list">
  <li class="twitter">
    <a href="{{ site.twitter }}" target="_blank" title="Twitter">
      Twitter
    </a>
  </li>
	<li class="instagram">
    <a href="{{ site.instagram }}" target="_blank" title="Instagram">
      Instagram
    </a>
  </li>
	<li class="linkedin">
    <a href="{{ site.linkedin }}" target="_blank" title="LinkedIn">
      LinkedIn
    </a>
  </li>
	<li class="github">
    <a href="{{ site.github }}" target="_blank" title="Github">
      GitHub
    </a>
  </li>
</ul>
