button,
.btn {
  display: inline-block;
  background-color: var(--color-accent);
  border-radius: var(--radius);
  border: none;
  outline: none;
  color: white;
  padding: 0.5rem 0.75rem;
  line-height: 1;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.35s var(--easing);
}

button:hover,
.btn:hover {
  background-color: var(--color-accent-shade);
}

/* small */
button.btn-small,
.btn.btn-small {
  padding: 0.25rem 0.5rem;
  font-size: var(--size-xs);
}

/* flush-left */
.btn.flush-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
