.cv-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cv-list .year {
  color: var(--color-secondary);
}

.work li,
.education li {
  display: flex;
  margin-top: 0;
  margin-bottom: var(--spacing-s);
}

/* work */

.work .year {
  width: 2.75rem;
  margin-right: var(--spacing-s);
}

/* competences */
.competences {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: var(--spacing-s); */
}

@media (--small) {
  .competences {
    grid-template-columns: 1fr;
  }
}
/* education */

.education .year {
  /* min-width: 12em; */
  /* text-align: right; */
  width: 6rem;
  text-align: right;
  margin-right: var(--spacing-s);
}

.education a {
  color: inherit;
  text-decoration: none;
}

.education a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}
