.footer {
  padding: var(--spacing-xxl) 0 var(--spacing-l);
}

.footer-box {
  background-color: var(--color-faint);
  padding: var(--spacing);
  border-radius: var(--radius);
}

.footer .newsletter {
  margin-left: auto;
  margin-right: auto;
}

.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a {
  display: inline-block;
  margin-right: var(--spacing-s);
}

.social a:last-of-type {
  margin-right: 0;
}

.social svg {
  fill: var(--color-secondary);
  transition: var(--transition-all);
}

.social a:hover svg {
  fill: var(--color-base);
}

.social .twitter:hover svg {
  fill: var(--color-twitter);
}

.social .linkedin:hover svg {
  fill: var(--color-linkedin);
}

.social .github:hover svg {
  fill: var(--color-github);
}

.social .instagram:hover svg {
  fill: var(--color-instagram);
}
