.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: var(--spacing-m) var(--spacing-m);
  display: grid;
  grid-template-columns: var(--grid-spec);
  grid-gap: var(--grid-gap);
  background-color: var(--color-bg);
  backdrop-filter: blur(3px);
  transition: var(--theme-transition);
  z-index: 100;
  transform: translateY(0);
  border-bottom: 1px solid transparent;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid var(--color-faint);
  background-color: var(--color-bg-transparent);
  padding: var(--spacing) var(--spacing-m);
}

.header.hidden {
  transform: translateY(-110%);
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: var(--spacing);
}

.header nav li:last-of-type {
  margin-right: 0;
}

.header nav li::after {
  content: attr(data-text);
  height: 0;
  visibility: hidden;
  font-weight: var(--fw-medium);
}

.header a {
  color: var(--color-secondary);
}

.header a:hover {
  color: var(--color-base);
}

.header .active {
  color: var(--color-base);
  font-weight: var(--fw-medium);
}

/*
  HEADER THEME
*/

.header-theme {
  text-align: right;
}

@media (--small) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing-m) var(--spacing-s);
  }
  .header.shadow {
    padding: var(--spacing-s) var(--spacing-s);
  }
  .header-nav {
    grid-column: span 2;
    order: 2;
  }
}
