.nav-ordered {
  @apply font-mono font-light;
  list-style: none;
  counter-reset: nav-counter;
}

.nav-ordered li {
  counter-increment: nav-counter;
  display: flex;
}
.nav-ordered li::before {
  @apply font-mono text-gray-500;
  content: '0' counter(nav-counter) '. ';
}
