@import '../utils/variables.css';

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 200px;
  margin: 0 auto;
}

.nav a {
  display: block;
  border: 1px solid var(--gray-200);
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.25s ease-in-out;
  color: var(--gray-700);
  text-align: center;
  font-size: var(--font-small);
}

.nav a:hover {
  background-color: var(--gray-100);
  border-color: var(--gray-500);
}

.nav .active {
  background-color: var(--gray-100);
  border-color: var(--gray-500);
  color: var(--gray-900);
  font-weight: 400;
}
