.theme-switcher {
  position: relative;
  --icon-size: 1.25rem;
}

@media (--small) {
  .theme-switcher {
    --icon-size: 1rem;
  }
}

.theme-switcher:focus {
  outline: none;
}

.theme-switcher .icon {
  color: var(--color-secondary);
  cursor: pointer;
  height: var(--icon-size);
  position: absolute;
  margin-top: 0.25rem;
  right: 0;
  transition: color 0.15s var(--easing);
  width: var(--icon-size);
}

.theme-switcher .icon:hover {
  color: var(--color-base);
}

.theme-switcher .hidden {
  visibility: hidden;
}

.theme-switcher .visible {
  visibility: visible;
}
