// Colors based on Color Schemer (https://github.com/at-import/color-schemer)
$cs-primary: #f8f8f2;
$cs-scheme: mono;

$brand-primary: cs-primary();
$brand-secondary: #8E44AD;

$brand-light: cs-primary();
$brand-medium: shade($brand-light, 45);
$brand-dark: shade($brand-light, 75);


// Modular scale (https://github.com/modularscale/modularscale-sass)
$ms-base: 1em;
$ms-ratio: $major-third;
$ms-range:
    1 20em,
    1.1 30em,
    1.2 40em,
    1.3 50em;

// Base spacing
$spacing: ms(1);

// Media Queries
$S: '(min-width:320px)';   
$M: '(min-width:768px)';     
$L: '(min-width:1024px)';


// Font fallbacks
$sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif; // sans-serif fallback
$serif: Garamond, Georgia, serif; // serif fallback

// Font base
$font-base: 'Lato';
$font-header: 'Lato';
