@charset 'UTF-8';

// variables
@import './_variables.styl'


// mixins
@import './mixins/_mediaqueries.styl'
@import './mixins/_placeholder.styl'
@import './mixins/_appearance.styl'

// fonts
@import './vendor/_fonts.styl'

// s-grid
@import './vendor/s-grid-settings'
@import './vendor/s-grid-functions'

// base
@import './base/_reset.styl'
@import './base/_base.styl'
@import './base/_layout.styl'

// utilities
@import 'utilities/_spacing.styl'
@import 'utilities/_width.styl'

// tufte
@import './vendor/_tufte.styl'

// components
@import 'components/_bio.styl'
@import 'components/_books.styl'
@import 'components/_footer.styl'
@import 'components/_header.styl'
@import 'components/_page.styl'
@import 'components/_post.styl'
@import 'components/_resume.styl'
@import 'components/_social.styl'


// .main
// 	background-color: rgba(pink, 0.5)

// .header__title
// 	background-color: rgba(gold, 0.5)

// .header__subtitle
// 	background-color: rgba(pink, 0.5)

// .header__nav
// 	background-color: rgba(purple, 0.3)

// .footer__colophon
// 	background-color: rgba(gray, 0.3)

// .footer__social
// 	background-color: rgba(blue, 0.3)

