{% set i=1 %}
{% for book in books|sort(false, true, 'year') %}
  {% set i=i+1 %}
  {% if loop.index < 6 %}
    {% set i = loop.index %}
  {% elif loop.index == 6 %}
    {% set i = 1 %}
  {% elif loop.index == 11 %}
    {% set i = 1 %}
  {% elif loop.index == 16 %}
    {% set i = 1 %}
  {% elif loop.index == 21 %}
    {% set i = 1 %}
  {% elif loop.index == 26 %}
    {% set i = 1 %}
  {% elif loop.index == 31 %}
    {% set i = 1 %}
  {% elif loop.index == 36 %}
    {% set i = 1 %}
  {% elif loop.index == 41 %}
    {% set i = 1 %}
  {% elif loop.index == 46 %}
    {% set i = 1 %}
  {% elif loop.index == 51 %}
    {% set i = 1 %}
  {% elif loop.index == 56 %}
    {% set i = 1 %}
  {% elif loop.index == 61 %}
    {% set i = 1 %}
  {% elif loop.index == 66 %}
    {% set i = 1 %}
  {% elif loop.index == 71 %}
    {% set i = 1 %}
  {% elif loop.index == 76 %}
    {% set i = 1 %}
  {% elif loop.index == 81 %}
    {% set i = 1 %}
  {% elif loop.index == 86 %}
    {% set i = 1 %}
  {% elif loop.index == 91 %}
    {% set i = 1 %}
  {% elif loop.index == 101 %}
    {% set i = 1 %}
  {% endif %}
	<article class="item" data-book-id="{{ loop.index }}" data-aos="fade-up" data-aos-duration="800" data-aos-delay="{{ i }}00">
    <h2 class="item__title">{{book.title}}</h2>
		<a href="{{book.goodreads}}" target="_blank">
			<img src="{{book.image}}" alt="{{book.title}}">
		</a>
    <div class="item__meta">{{book.year}}</div>
	</article>
{% endfor %}
