{% for project in projects %}

	<article class="item" data-aos="fade-up" data-aos-duration="800">
    <div class="item__inner">
      <header class="item__header">
        <div class="item__image">
          <a href="{{project.url}}" target="_blank"><img src="/assets/img/work/{{project.image}}" alt="{{project.name}}" /></a>
        </div>
        <div class="item__meta">
    			<div class="item__date">{{project.period}}</div>
    			<h2 class="item__title">
            <a href="{{project.url}}" target="_blank">
              {{project.name}}
              <img src="/assets/img/icons/link-red.svg" alt="link" />
            </a>
          </h2>
    			<div class="item__subtitle">{{project.role}}</div>
        </div>
  		</header>

  		<div class="item__body">
  			<p>{{project.description}}</p>

        {% if project.technology %}
          <span class="item__list-title">Built using:</span>
          <ul class="item__list">
            {% for technology in project.technology %}
              <li><a href="{{ technology.link }}" target="_blank">{{ technology.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if project.attachments %}
          <ul class="item__list item__attachments margin-top-1">
            {% for attachment in project.attachments %}
              <li><a href="{{ attachment.link }}" target="_blank">{{ attachment.type }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
  		</div>
    </div>
	</article>

{% endfor %}
