{% for project in showcase %}

	<article class="item item-showcase" data-aos="fade-up" data-aos-duration="800">

    <!-- meta -->
    <div class="item__meta">
      <h3 class="item__title">
        <a href="{{project.url}}" target="_blank">
          {{project.name}}
        </a>
      </h3>
      <div class="item__date">{{project.period}}</div>
    </div>
    <!-- /meta -->

    <!-- preview -->
    <div class="item__preview">
      <div class='browser-window'>
        <!-- bar -->
        <div class='top-bar'>
          <div class='bar-circles'>
             <div class="circle circle-red"></div>
             <div class="circle circle-yellow"></div>
             <div class="circle circle-green"></div>
          </div>
          <div class="bar-url">
            <span><a href="{{project.url}}" target="_blank">{{project.url}}</a></span>
          </div>
        </div>
        <!-- /bar -->
        <div class='content'>
          <a href="{{project.url}}" target="_blank">
            <div class="img-wrap">
              <img src="/assets/img/work/{{project.image}}" alt="{{project.name}}" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /preview -->

    <!-- body -->
    <div class="item__body">
      <!-- text -->
      <div class="item__text">
        <p>{{project.description}}</p>
      </div>
      <!-- /text -->
    </div>
    <!-- /body -->

    <!-- footer -->
    <div class="item__footer">
      <!-- extra -->
      {% if project.attachments %}
        <ul class="item__list item__attachments">
          {% for attachment in project.attachments %}
            <li><a href="{{ attachment.link }}" target="_blank">{{ attachment.type }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      <!-- /extra -->
      <!-- tech -->
      {% if project.technology %}
        <ul class="item__list item__list--inline">
            <li><span class="item__list-title">Tools:</span></li>
          {% for technology in project.technology %}
            <li><a href="{{ technology.link }}" target="_blank">{{ technology.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      <!-- /tech -->
    </div>
    <!-- /footer -->
  </article>

{% endfor %}

<script type="text/javascript">

  var screenWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

  var screenIsMobile = screenWidth < 768;
  var screenIsDesktop = screenWidth > 1024;

  var showcaseBreakMobile = 1;
  var showcaseBreakDesktop = 3;

  var showcase = document.getElementsByClassName('item-showcase');
  var showcaseIndex = 0;

  Array.prototype.forEach.call(showcase, function(el, index, array) {
    showcaseIndex ++;

    if (screenIsMobile) {
      if (showcaseIndex == showcaseBreakMobile) {
        showcaseIndex = 1;
      }
      var showcaseDelay = showcaseIndex + '0';
      el.setAttribute('data-aos-delay', showcaseDelay);
    }
    else if (screenIsDesktop) {
      if (showcaseIndex == showcaseBreakDesktop) {
        projectIndex = 1;
      }
      var showcaseDelay = showcaseIndex + '00';
      el.setAttribute('data-aos-delay', showcaseDelay);
    }
  });

</script>
