{% for project in showcase %}

	<article class="item item-showcase" data-aos="fade-up" data-aos-duration="800">

    <!-- meta -->
    <div class="item__meta">
      <h3 class="item__title">
        <a href="{{project.url}}" target="_blank">
          {{project.name}}
        </a>
      </h3>
      <div class="item__date">{{project.period}}</div>
    </div>
    <!-- /meta -->

    <!-- preview -->
    <div class="item__preview">
      <a href="{{project.url}}" target="_blank">
        <div class="img-wrap">
          <img src="/assets/img/work/{{project.image}}" alt="{{project.name}}" />
        </div>
      </a>
    </div>
    <!-- /preview -->

    <!-- extra -->
    <div class="extra">

      <!-- extra__content -->
      <div class="extra__content">
        <!-- body -->
        <div class="item__body">
          <!-- text -->
          <div class="item__text">
            <p>{{project.description}}</p>
          </div>
          <!-- /text -->
        </div>
        <!-- /body -->

        <!-- footer -->
        <div class="item__footer">
          <!-- tech -->
          {% if project.technology %}
            <div class="item__list-title">Tools:</div>
            <ul class="item__list item__list--inline">
              {% for technology in project.technology %}
                <li><a href="{{ technology.link }}" target="_blank">{{ technology.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          <!-- /tech -->
        </div>
        <!-- /footer -->
      </div>
      <!-- /extra__content -->

      <div class="extra__toggle">
        <span class="more"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="#444" stroke-linecap="square" stroke-miterlimit="10"><path d="M12.5 2.5v20M22.5 12.5h-20"/></g></svg> Details</span>
        <span class="less"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#444" stroke-linecap="square" stroke-miterlimit="10" d="M22.5 12.5h-20"/></svg> Details</span>
      </div>
    </div>
    <!-- /extra -->
  </article>

{% endfor %}

<script type="text/javascript">

  var screenWidth = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

  var screenIsMobile = screenWidth < 768;
  var screenIsDesktop = screenWidth > 1024;

  var showcaseBreakMobile = 1;
  var showcaseBreakDesktop = 4;

  var showcase = document.getElementsByClassName('item-showcase');
  var showcaseIndex = 0;

  Array.prototype.forEach.call(showcase, function(el, index, array) {
    showcaseIndex ++;

    if (screenIsMobile) {
      if (showcaseIndex == showcaseBreakMobile) {
        showcaseIndex = 1;
      }
      var showcaseDelay = showcaseIndex + '0';
      el.setAttribute('data-aos-delay', showcaseDelay);
    }
    else if (screenIsDesktop) {
      if (showcaseIndex == showcaseBreakDesktop) {
        projectIndex = 1;
      }
      var showcaseDelay = showcaseIndex + '00';
      el.setAttribute('data-aos-delay', showcaseDelay);
    }
  });

</script>
