.card {
	margin-bottom: $spacing*3.5;
}

.card__meta {
	font-size: ms(-2);
	font-style: italic;
}

.card__title {
	margin: 0;

	a {
		color: inherit;
	}
}

.card__header {
	text-align: center;
}

.card__cover {
	margin-top: $spacing/2;
}

.card__place {
	margin-left: $spacing/4;	
	font-size: ms(-3);
	vertical-align: middle;

	@include svg-selector {
		fill: $brand-medium;
	}

	svg {
		max-width: 14px;
		margin-right: $spacing/12;
		padding-bottom: 5px;
	}
}

.card__position {
	font-size: ms(-2);
	text-transform: uppercase;
	color: tint($brand-dark, 30%);
	font-weight: 700;
}

.card__subtitle {
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: ms(-2);
	margin-bottom: 0;
}

.card__text {
	margin-top: $spacing/2;
}

.card__text ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.card__text li {
	color: tint($brand-dark, 30%);

	&:before {
		vertical-align: middle;
		display: inline-block;
		content: '';
		height: 5px;
		width: 5px;
		border-radius: 50%;
		margin-right: $spacing/2;
		background-color: $brand-medium;
	}

}

.card__list {
	margin-left: 0;
	margin-top: $spacing/2;
	padding: 0;
	list-style-type: none;
}

.card__list li {
	margin-bottom: $spacing/2;
}

