
// MAIN-NAV
.main-nav {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
    	vertical-align: middle;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: auto $spacing;
        cursor: pointer;
        @include bold;
        @include text-small;
    }
    
    li.active {
        border-bottom: 2px solid $brand-dark;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}
