.post h1 {
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.post p {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
	@include MQ(M) {
		width: 85%;
	}

	@include MQ(L) {
		width: 75%;
	}
}

.post__divider, .post hr {
	border: none;
	margin: $spacing*2 auto;
	height: 2px;
	width: 35%;
	background-color: $brand-medium;

	@include MQ(M) {
		width: 20%;
	}
}