// PAGEWIDE 
.profile {
	
	text-align: center;

	@include MQ(M) {


		.profile__skills .column {
			width: 50%;
			float: left;
			padding: 0 $spacing/8;
		}

		.profile__skills .column--center {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-top: $spacing;
		}

	}

}

.profile__divider {
	margin: $spacing*3 auto;
	height: 2px;
	width: 35%;
	background-color: $brand-medium;

	@include MQ(M) {
		width: 15%;
	}
}

.profile__title {
	margin-top: 0;
	margin-bottom: $spacing*2;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	font-size: ms(2);
	letter-spacing: 1px;
}

.profile__subtitle {
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: ms(-2);
}

// INTRO
.profile__image img {
	border-radius: 50%;
	border: 3px solid $brand-medium;
}

.profile__name {
	margin-bottom: 0;
}

.profile__position {
	margin-top: $spacing/3;
	font-size: ms(-1);
	text-transform: uppercase;
	letter-spacing: 1px;
	color: tint($brand-dark, 30%);
	font-weight: 900;
}


.profile__location {
	margin-top: $spacing;
	font-size: ms(-1);
	vertical-align: middle;

	@include svg-selector {
		fill: $brand-medium;
	}

	svg {
		max-width: 18px;
		margin-right: $spacing/8;
		padding-bottom: 5px;
	}
}

.profile__language {
	font-size: ms(-1);
	vertical-align: middle;

	@include svg-selector {
		fill: $brand-medium;
	}

	svg {
		max-width: 18px;
		margin-right: $spacing/8;
		padding-bottom: 5px;
	}
}

.profile__summary {
	margin-top: $spacing*2;
	font-size: ms(-1);
}

.profile__status {
	margin-top: $spacing;
	font-size: ms(0);
}

// SKILLS
.skill-list {
	list-style-type: none;
	margin-left: 0;
	margin-top: $spacing/2;
	padding: 0;
}

.skill-list li {
	display: inline-block;
	margin: $spacing/4 $spacing/4;
	padding: $spacing/8 $spacing/2;
	border-radius: $radius;
	background-color: shade($red, 20%);
	color: $brand-light;
	font-size: ms(-2);
}

.skill-list--secondary li {
	background-color: tint($brand-dark, 10%);
}

// Books
.books-list {
	margin-top: $spacing;
	text-align: left;

	@include MQ(M) {
		
		column-count: 2; 
		column-gap: $spacing*1.5;
	}

}

.book-author {
	font-style: italic;
}



