// SOCIAL MEDIA
ul.social-media {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    display: inline-block;
    margin-right: $spacing/4;

    @include MQ(M) {
       margin-right: $spacing/4; 
    }
}

.social-media li:last-of-type {
    margin-right: 0;
}

.social-media li svg {
    width: 100%;
    height: 100%;
    max-width: 1.15em;

    @include MQ(M) {
        max-width: 1.15em;
    }
}

.social-media li {
    
    @include svg-selector {
        fill: tint($brand-dark, 25%);
        transition: fill 0.75s;
    }

}

.social-media li:hover {
    
    @include svg-selector {
        fill: $brand-secondary;
        transition: fill 0.75s;
    }

}



.social-media .mail {
    font-size: ms(-1);
    padding-left: $spacing/2;
    &:before {
        content: '| ';
        padding-right: $spacing/2;
    }
}