// SPLASH
.splash {
    width: 100%;
    height: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    

    @include MQ(M) {
        text-align: left;
    }
    
    p {
        // padding: 0 1.5%;

        @include MQ(M) {
            max-width: 35em;
        }
    }

    .name {
        font-weight: 700;
    }

    

    .splash__image {
        
        @include MQ(M) {
            width: 55%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .splash__intro {
        padding-top: $spacing;

        @include MQ(M) {
            position: absolute;
            bottom: 50%;
            right: 0;
            width: 45%;
        }
    }

    .splash__social {
        margin-top: $spacing*1.5;

        @include MQ(M) {
            position: absolute;
            bottom: $spacing;
            right: 0;
            width: 45%;
            margin-top: 0;
        }
    }

    .splash__colophon {
        
        margin-top: $spacing*2;

        @include MQ(M) {
            position: absolute;
            bottom: $spacing;
            right: $spacing;
            margin-top: 0;
            text-align: right;
            width: auto;
            min-width: 15%; // hacky way to get rid of line break
        }

        .colophon {
            padding: 0;
        }

      
    }

// END .splash
}

.splash-nav {

    @include MQ(M) {

        position: absolute;
        top: 0;
        left: 0;
        padding-right: 15px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        z-index: 1;

    }
        
}

// Swap images on links hover
.splash-1 {
    
    .splash-normal {
        display: block;
    }

    .splash-suprised {
        display: none;
    }

    .splash-worried {
        display: none;
    }
}

.splash-2 {
    
    .splash-normal {
        display: none;
    }

    .splash-suprised {
        display: block;
    }

    .splash-worried {
        display: none;
    }
}

.splash-3 {
    .splash-normal {
        display: none;
    }

    .splash-suprised {
        display: none;
    }

    .splash-worried {
        display: block;
    }
}