<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-10-06-welcome-to-jekyll.markdown</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>532678094.05737197</real>
				<key>lastModification</key>
				<real>532678094.05737197</real>
				<key>version</key>
				<dict>
					<key>884132c85872592c649d86c014840ad7ce5fdcfc283aa7c3b158729660835eb6</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2017-10-20-everyone-is-a-designer.md</key>
			<dict>
				<key>lastModification</key>
				<real>532678158.198672</real>
				<key>version</key>
				<dict>
					<key>884132c85872592c649d86c014840ad7ce5fdcfc283aa7c3b158729660835eb6</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-10-21-rise-of-a-designer.md</key>
			<dict>
				<key>lastModification</key>
				<real>532678124.87512302</real>
				<key>version</key>
				<dict>
					<key>884132c85872592c649d86c014840ad7ce5fdcfc283aa7c3b158729660835eb6</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-10-23-design-meets-information.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>532678060.42981201</real>
				<key>version</key>
				<dict>
					<key>884132c85872592c649d86c014840ad7ce5fdcfc283aa7c3b158729660835eb6</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-10-20-everyone-is-a-designer.md</string>
		</array>
		<array>
			<string>2017-10-06-welcome-to-jekyll.markdown</string>
		</array>
		<array>
			<string>2017-10-21-rise-of-a-designer.md</string>
		</array>
		<array>
			<string>2017-10-23-design-meets-information.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>884132c85872592c649d86c014840ad7ce5fdcfc283aa7c3b158729660835eb6</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
