:root {
  --grid-gap: var(--spacing-4);
  --bleed-full: 100%;
  --bleed-sm: 48rem;
  --bleed-md: 56rem;
  --bleed-lg: 72rem;
}

/* layout */
.container {
  /* margin: 0 auto;
  max-width: 60ch; */
  grid-column-gap: var(--grid-gap);
  display: grid;
  grid-template-columns:
    1fr min(54ch, calc(100% - 2 * var(--grid-gap)))
    1fr;
}

.container > * {
  grid-column: 2;
}

.bleed-sm,
.bleed-md {
  grid-column: 1 / -1;
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}

.bleed-lg,
.bleed-full {
  grid-column: 1 / -1;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* .bleed-lg {
  grid-column: 1 / -1;
  margin-right: auto;
  margin-left: auto;
  background: var(--gray-400);
  width: 100%;
} */

@media (--md) {
  .bleed-sm {
    max-width: var(--bleed-sm);
  }

  .bleed-md {
    max-width: var(--bleed-md);
  }
  .bleed-lg {
    max-width: var(--bleed-lg);
  }
}

/*
.container-wide {
  margin: 0 auto;
  max-width: 90ch;
} */

.max-w-90 {
  max-width: 90%;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.w-full {
  width: 100%;
}
