/* borders */
.rounded {
  border-radius: var(--radius-base);
}

.rounded-sm {
  border-radius: var(--radius-sm);
}

.rounded-lg {
  border-radius: var(--radius-lg);
}

.rounded-full {
  border-radius: var(--radius-full);
}

/* text alignment */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* text size */
.text-2xs {
  font-size: var(--font-size-2xs);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-base {
  font-size: var(--font-size-base);
}

.text-md {
  font-size: var(--font-size-md);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
}

.text-3xl {
  font-size: var(--font-size-3xl);
}

.text-4xl {
  font-size: var(--font-size-4xl);
}

.text-5xl {
  font-size: var(--font-size-5xl);
}

.text-6xl {
  font-size: var(--font-size-6xl);
}

.text-7xl {
  font-size: var(--font-size-7xl);
}

.text-8xl {
  font-size: var(--font-size-8xl);
}

.text-9xl {
  font-size: var(--font-size-9xl);
}

/* font weight */
.fw-light {
  font-weight: var(--fw-light);
}

.fw-base {
  font-weight: var(--fw-base);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

/* text styling */
.no-underline {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-wide {
  letter-spacing: 0.025rem;
}

.tracking-wider {
  letter-spacing: 0.05rem;
}

/* text color */
.text {
  color: var(--text);
}

.text-secondary {
  color: var(--text-secondary);
}

.text-tertiary {
  color: var(--text-tertiary);
}

/* line-height */
.leading-base {
  line-height: var(--line-height-base);
}

.leading-lg {
  line-height: var(--line-height-lg);
}

.leading-md {
  line-height: var(--line-height-md);
}

.leading-sm {
  line-height: var(--line-height-sm);
}

.leading-xs {
  line-height: var(--line-height-xs);
}

.leading-2xs {
  line-height: var(--line-height-2xs);
}

.leading-3xs {
  line-height: var(--line-height-3xs);
}

.leading-4xs {
  line-height: var(--line-height-4xs);
}

/* bg color */
.bg {
  background-color: var(--bg);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.bg-accent {
  background-color: var(--bg-accent);
}

.bg-accent-secondary {
  background-color: var(--bg-accent-secondary);
}

.bg-accent-tertiary {
  background-color: var(--bg-accent-tertiary);
}

/* margins */
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: var(--spacing-1);
}

.mt-2 {
  margin-top: var(--spacing-2);
}

.mt-4 {
  margin-top: var(--spacing-4);
}

.mt-6 {
  margin-top: var(--spacing-6);
}

.mt-8 {
  margin-top: var(--spacing-8);
}

.mt-10 {
  margin-top: var(--spacing-10);
}

.mt-12 {
  margin-top: var(--spacing-12);
}

/* paddings */

.p-1 {
  padding: var(--spacing-1);
}

.px-1 {
  padding-right: var(--spacing-1);
  padding-left: var(--spacing-1);
}

.py-1 {
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.pt-1 {
  padding-top: var(--spacing-1);
}

.pr-1 {
  padding-right: var(--spacing-1);
}

.pb-1 {
  padding-bottom: var(--spacing-1);
}

.pl-1 {
  padding-left: var(--spacing-1);
}

.p-2 {
  padding: var(--spacing-2);
}

.px-2 {
  padding-right: var(--spacing-2);
  padding-left: var(--spacing-2);
}

.py-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.pt-2 {
  padding-top: var(--spacing-2);
}

.pr-2 {
  padding-right: var(--spacing-2);
}

.pb-2 {
  padding-bottom: var(--spacing-2);
}

.pl-2 {
  padding-left: var(--spacing-2);
}

.p-3 {
  padding: var(--spacing-3);
}

.px-3 {
  padding-right: var(--spacing-3);
  padding-left: var(--spacing-3);
}

.py-3 {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.pt-3 {
  padding-top: var(--spacing-3);
}

.pr-3 {
  padding-right: var(--spacing-3);
}

.pb-3 {
  padding-bottom: var(--spacing-3);
}

.pl-3 {
  padding-left: var(--spacing-3);
}

.p-4 {
  padding: var(--spacing-4);
}

.px-4 {
  padding-right: var(--spacing-4);
  padding-left: var(--spacing-4);
}

.py-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.pt-4 {
  padding-top: var(--spacing-4);
}

.pr-4 {
  padding-right: var(--spacing-4);
}

.pb-4 {
  padding-bottom: var(--spacing-4);
}

.pl-4 {
  padding-left: var(--spacing-4);
}
