@layer base {
	/* adopted Radix Colors, based on this repo with HSL values
    https://github.com/wallpants/hsl-radix-colors/tree/main
  */

	:root,
	.light,
	.light-theme {
		--sand-1: 60deg 20% 99%;
		--sand-2: 60deg 7.7% 97.5%;
		--sand-3: 30deg 6.7% 94.1%;
		--sand-4: 40deg 6.4% 90.8%;
		--sand-5: 45deg 6.5% 87.8%;
		--sand-6: 45deg 5.1% 84.7%;
		--sand-7: 48deg 5% 80.2%;
		--sand-8: 51deg 5% 72.4%;
		--sand-9: 60deg 3% 53.9%;
		--sand-10: 60deg 2.4% 49.8%;
		--sand-11: 60deg 2.6% 37.8%;
		--sand-12: 48deg 8.2% 12%;

		--green-1: 140deg 60% 99%;
		--green-2: 137deg 46.7% 97.1%;
		--green-3: 139deg 47.1% 93.3%;
		--green-4: 140deg 49.1% 89.2%;
		--green-5: 142deg 43.9% 83.9%;
		--green-6: 144deg 41.4% 77.3%;
		--green-7: 146deg 39.5% 68.2%;
		--green-8: 151deg 40.2% 54.1%;
		--green-9: 151deg 54.7% 41.6%;
		--green-10: 152deg 56.3% 38.6%;
		--green-11: 154deg 59.8% 32.2%;
		--green-12: 155deg 40.5% 16.5%;

		--red-1: 0deg 100% 99.4%;
		--red-2: 0deg 100% 98.4%;
		--red-3: 357deg 90.5% 95.9%;
		--red-4: 358deg 100% 92.9%;
		--red-5: 359deg 100% 90.2%;
		--red-6: 359deg 94.1% 86.7%;
		--red-7: 359deg 77.3% 81%;
		--red-8: 359deg 69.9% 73.9%;
		--red-9: 358deg 75.1% 59%;
		--red-10: 358deg 69.3% 55.3%;
		--red-11: 358deg 64.8% 49%;
		--red-12: 351deg 62.6% 24.1%;
	}
	.dark,
	.dark-theme {
		--sand-1: 60deg 3% 6.5%;
		--sand-2: 60deg 2% 9.6%;
		--sand-3: 60deg 1.5% 13.1%;
		--sand-4: 60deg 2.4% 16.1%;
		--sand-5: 60deg 3.2% 18.6%;
		--sand-6: 45deg 3.5% 22.4%;
		--sand-7: 48deg 3.5% 27.6%;
		--sand-8: 43deg 3.7% 37.1%;
		--sand-9: 47deg 4.2% 41.8%;
		--sand-10: 53deg 3.3% 47.1%;
		--sand-11: 45deg 5.1% 69.4%;
		--sand-12: 60deg 5.6% 92.9%;

		--green-1: 154deg 20% 6.9%;
		--green-2: 153deg 20% 8.8%;
		--green-3: 152deg 40.6% 12.5%;
		--green-4: 154deg 55.3% 14.9%;
		--green-5: 154deg 52.1% 18.8%;
		--green-6: 153deg 46.2% 23.3%;
		--green-7: 152deg 44.4% 28.2%;
		--green-8: 151deg 45% 33.5%;
		--green-9: 151deg 54.7% 41.6%;
		--green-10: 151deg 55.1% 44.5%;
		--green-11: 151deg 65.1% 53.9%;
		--green-12: 144deg 69.6% 82%;

		--red-1: 0deg 19% 8.2%;
		--red-2: 355deg 25.5% 10%;
		--red-3: 350deg 53.2% 15.1%;
		--red-4: 348deg 68.4% 18.6%;
		--red-5: 350deg 63% 23.3%;
		--red-6: 352deg 53% 29.2%;
		--red-7: 355deg 46.6% 37.5%;
		--red-8: 358deg 44.8% 49%;
		--red-9: 358deg 75.1% 59%;
		--red-10: 0deg 79% 64.5%;
		--red-11: 2deg 100% 78.6%;
		--red-12: 350deg 100% 91%;
	}

	:root {
		--background: var(--sand-3);
		--foreground: var(--sand-12);
		--card: var(--sand-2);
		--card-foreground: var(--sand-11);
		--popover: var(--sand-2);
		--popover-foreground: var(--sand-11);
		--primary: var(--sand-12);
		--primary-foreground: var(--sand-1);
		--secondary: var(--sand-4);
		--secondary-foreground: var(--sand-11);
		--muted: var(--sand-3);
		--muted-foreground: var(--sand-9);
		--accent: var(--sand-4);
		--accent-foreground: var(--sand-11);
		--destructive: var(--red-4);
		--destructive-foreground: var(--red-11);
		--success: var(--green-4);
		--success-foreground: var(--green-11);
		--border: var(--sand-6);
		--input: var(--sand-6);
		--ring: var(--sand-7);

		--highlight: 48 100% 50%;
		--radius: 0.35rem;
		--post-width: 36rem;
		--post-wide-width: 44rem;
	}
}
