.footer
	font-family: $sans
	font-weight: $fw-sans
	font-size: $sans-small
	border-top $separator

	a
		font-size: $sans-small
		text-decoration: none

	ul
		font-size: $sans-small

	.footer__colophon
		margin-top $spacing*0.5
		color $gray
