$header-transition = all 0.5s $quad-easing
$header-shadow = 0px 1px 4px -2px rgba(0,0,0,.15)

.header
	transition $header-transition
	// border-bottom 1px solid $gray-medium

	ul
		font-size $sans-base

	a
		text-decoration none
		font-family $sans
		font-weight $fw-sans
		letter-spacing $letter-spacing
		color $gray-dark
		font-size $sans-base
		transition $header-transition
		line-height 1

a.site-title
	display block
	color $gray

.header__title
	transition $header-transition
	text-align center
	+medium()
		text-align left

// on-scroll
// .header.header--bg
// 	background-color rgba(#ffffff, 0.97)
// 	box-shadow $header-shadow
// 	a
// 		font-size $sans-small
// 		color $gray

// 	.header__title
// 		// display none
// 		transform scale(0)
// 		+large()
// 			transform scale(1)


// nav

