.resume

	section
		// background: rgba(gold, 0.25)
		margin-top $spacing*2
		&:first-of-type
			margin-top 0




.resume-list

	.item
		margin-top: $spacing
		font-family: $sans
	.item__date
		font-family: $sans
		font-size: $sans-small
		color: $gray
	.item__title
		margin-top: $spacing*0.25
		font-family: $sans
		font-size: $sans-large
		font-weight: 300
	.item__title-extra
		font-size: $sans-small
		vertical-align: middle
	.item__subtitle
		margin-top: $spacing*0.35
		font-size: 0.9rem
		color: $gray-dark
	.item__location
		font-size: $sans-small
		color: $gray
	a
		text-decoration: none

.skill-list
	list-style-type: none
	margin-top: $spacing*0.75
	.item
		font-family: $sans
		font-size: $sans-base
		margin-bottom: $spacing*0.5
		line-height: 1


