<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page_hire.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_hire.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/hire/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="top" class="container shadow">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/nav.html' as nav %}
      {{nav.active('hire')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main" role="main">
  		<article>
        <div class="wrapper">
          <h1 data-aos="fade" data-aos-duration="800">I can help you communicate effectively in the digital space</h1>
        </div>
        <div class="wrapper">
          <div class="fs-large ta-justify" data-aos="fade" data-aos-duration="800" data-aos-delay="200">
            {% include "_text/hire.html" %}
          </div>
        </div>
      </article>

      <section class="wrapper margin-top-8">
        <div class="services">
          {% include "_loops/services.html" %}
        </div>
      </section>

      <section class="margin-top-6" data-aos="fade" data-aos-duration="800">

        <div class="wrapper">
          <h2>Lets work together!</h2>
          <div class="fs-large margin-top-2">
            <p>Please fill out this form and I’ll get back to you as quickly as I can.<br/>I usually take 2-3 days to reply.</p>
            <p>As you fill out the form,  write in as many details as you can about your project. I’ll be able to get back with a better reply if you give me more information.</p>
          </div>
        </div>

        <div class="wrapper-small">
          <div class="apply margin-top-4">
            {% include "_shared/form.html" %}
          </div>
        </div>

      </section>

  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
