<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ page_hire.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_hire.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/hire/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <div id="barba-wrapper" class="container scene">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/main-nav.html' as nav %}
      {{nav.active('hire')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main fadeIn barba-container" role="main">

    		<article>
          <div class="wrapper">
            <h1 class="ta-center">Helping you communicate effectively in the digital space</h1>
            <div class="fs-large ta-center">
              {% include "_text/hire.html" %}
            </div>
          </div>

          <div class="wrapper-large">
            <section class="services margin-top-2">
              {% include "_loops/services.html" %}
            </section>
          </div>

          <div class="wrapper">
            <p class="ta-center margin-top-4">I offer a personal approach and base my work on mutual understanding and respect. I am used to working both remotely and on-site with small companies, large organizations, and individuals.</p>
          </div>
        </article>


        {% include '_shared/booking.html' %}

  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
