---
import Subscribe from '@components/Subscribe.astro'
---

<footer class="container">
  <Subscribe />

  <div class="text-sm text-secondary">
    <p>Handcoded by Ilja A. Panic</p>
    <div class="mt-2">
      <a href="/colophon">Colophon</a>
    </div>
  </div>
</footer>

<style>
  footer {
    padding: var(--spacing-20) 0 var(--spacing-12) 0;
  }
</style>
