---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"
---

<header
  class="sticky top-0 z-50 mb-8 border-b border-gray-100 bg-bg bg-opacity-95 px-6 py-1 text-sm leading-none backdrop-blur-sm"
>
  <!-- <a href="/" class="c-logo">IP</a> -->

  <div class="flex items-center justify-between">
    <nav class="flex items-center gap-2">
      <a href="/" class="font-medium">Ilja Panic</a>

      <a class={currentPath.includes('garden') ? 'active' : ''} href="/garden"
        >Garden</a
      >
      <a
        class={currentPath.includes('articles') ? 'active' : ''}
        href="/articles">Articles</a
      >
      <a
        class={currentPath.includes('bookshelf') ? 'active' : ''}
        href="/bookshelf">Bookshelf</a
      >
      <a class={currentPath.includes('lab') ? 'active' : ''} href="/lab">Lab</a>
      <a class={currentPath.includes('stack') ? 'active' : ''} href="/stack"
        >Stack</a
      >
      <a class={currentPath.includes('about') ? 'active' : ''} href="/about"
        >About</a
      >
    </nav>
    <div>
      <div class="text-center text-xs">
        <div class="font-medium">Prague</div>
        <div id="currentTime" class="text-xs"></div>
      </div>
    </div>
  </div>
</header>

<script>
  function getTime() {
    var date = new Date()
    var datePrague = new Date(
      date.toLocaleString('en-US', { timeZone: 'Europe/Prague' }),
    )

    var d = datePrague.toLocaleString('en-US', { weekday: 'short' }) // 1 - 31
    var h = (datePrague.getHours() < 10 ? '0' : '') + datePrague.getHours() // 0 - 23
    var m = (datePrague.getMinutes() < 10 ? '0' : '') + datePrague.getMinutes() // 0 - 59
    var s = (datePrague.getSeconds() < 10 ? '0' : '') + datePrague.getSeconds() // 0 - 59

    // var time = h + ':' + m + ':' + s
    var time = d + ' ' + h + ':' + m

    document.getElementById('currentTime').innerHTML = time

    setTimeout(getTime, 1000)
  }

  getTime()
</script>

<style>
  nav a,
  nav a:visited {
    @apply rounded-md px-2 py-2 leading-none tracking-wide text-primary no-underline;
  }

  nav a:hover {
    @apply bg-gray-50 text-primary;
  }

  nav a.active {
    @apply bg-gray-100;
  }

  /* a.c-logo {
    @apply flex justify-center items-center mr-4 rounded-sm bg-bg-secondary w-6 h-6 text-sm text-secondary font-medium tracking-wide no-underline hover:bg-bg-tertiary;
  }

  header nav a,
  header nav a:visited {
    @apply inline-block mr-4 no-underline text-secondary decoration-tertiary;
  }

  header nav a:hover {
    @apply text-primary underline decoration-tertiary;
  }

  header nav a.active {
    @apply text-primary font-medium underline decoration-tertiary;
  } */
</style>
