body {
  @apply font-sans text-gray-900 bg-white transition-all duration-300 ms-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  @apply text-gray-100 bg-gray-900 transition-all duration-300;
}

/* headings */
h1 {
  @apply ms-3xl mb-2;
}

h2 {
  @apply ms-2xl;
}
h3 {
  @apply ms-xl;
}

h1,
h2,
h3,
h4,
h5 {
  @apply mb-4 tracking-tight font-sans;
}

/* body text */

p {
  @apply mb-3 tracking-normal ms-base;
}

a {
  @apply transition border-b border-transparent text-primary-600;
}

a:hover {
  @apply border-primary-400 text-primary-500;
}

blockquote {
  @apply text-gray-500 italic border-gray-100 border-l-4 pl-4 ms-lg my-6 font-serif font-light;
}

blockquote p {
  @apply ms-lg;
}

/* @screen md {
  h2 {
    @apply text-4xl;
  }
  p {
    @apply text-base;
  }
} */
