---
const { text, author, url } = Astro.props
---

<blockquote class="mt-12">
  <p>
    ”{text}”
  </p>
  <footer>
    <cite>
      — {
        url ? (
          <a href={url} target="_blank">
            {author}
          </a>
        ) : (
          author
        )
      }
    </cite>
  </footer>
</blockquote>
