.quote {
  border: none;
  padding-left: 0;
  margin: var(--spacing-l) auto;
}

.quote p {
  font-style: italic;
  font-family: var(--font-serif);
  font-size: 1.35em;
  color: var(--color-secondary);
  font-weight: var(--fw-light);
}

/* .quote.quote-pull {
  background-color: red;
} */

.quote footer {
  margin-top: var(--spacing-s);
}

.quote cite {
  color: var(--color-secondary);
  font-weight: var(--fw-medium);
  font-size: var(--size-small);
  font-style: normal;
}
