// LOGO
.logo {
    
    
    text-align: center;

    .logo__inner {
        letter-spacing: 2px;
        display: table;
        border: 1px solid;
        border-radius: 50%;
        background-color: $brand-dark;
        color: $brand-light;
        margin: 0 auto;
        height: ms(5);
        width: ms(5);
        cursor: pointer;
    }

    .logo__initials {
        display: table-cell;
        vertical-align: middle;
        @include ultra-bold;
        font-size: ms(1);
        padding-left: 3px;
    }

}
