<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ page_projects.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_projects.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/projects/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="barba-wrapper" class="container scene">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/main-nav.html' as nav %}
      {{nav.active('work')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main fadeIn barba-container" role="main">

      <div class="wrapper-small">
    		<h1 class="visually-hidden">Projects</h1>
        <p class="fs-large ta-center">Sites and personal projects I've worked on</p>
        <section class="projects margin-top-4">
          {% include "_loops/projects.html" %}
        </section>
      </div>

  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
