---
layout: default
---

<div class="wrap">

  <article class="page-bio">

    <header class="headline">
      <h1 class="headline__title" itemprop="name headline">About</h1>
      <p class="headline__subtitle">Bio, r&eacute;sum&eacute; and contact information</p>
    </header>

    <hr>

    <section class="bio">

      <div class="l-split">
        <div class="about__sidebar">
          <div class="about__image">
            <img src="{{ "/images/spinner.gif" | relative_url }}" data-echo="{{ "/images/ilja-profile.JPG" | relative_url }}">
          </div>
          <h2 class="side-title">Contact</h2>
          <div class="about__contact">
            <a href="mailto:{{site.email}}">{{site.email}}</a>
          </div>

          <h2 class="side-title">Work Availability</h2>
          <p class="about__projects">
            Open for new projects starting September 2018
          </p>
        </div>
        {% comment %} bio {% endcomment %}
        <div class="about__main">
          {{ content }}
        </div>
      </div>

    </section>

    <hr class="double">

    <section class="resume">

      <div class="l-split">
        <div class="resume__side">
          <h2 class="side-title">Work Experience</h2>
        </div>
        {% comment %} work {% endcomment %}
        <div class="resume__main">
          {% include resume-work.html %}
        </div>
      </div>

      <hr class="double">

      <div class="l-split">
        <div class="resume__side">
          <h2 class="side-title">Clients <span>Freelance and agency work</span></h2>
        </div>
        {% comment %} clients {% endcomment %}
        <div class="resume__main">
          {% include resume-clients.html %}
        </div>
      </div>

      <hr class="double">

      <div class="l-split">
        <div class="resume__side">
          <h2 class="side-title">Education</h2>
        </div>
        {% comment %} education {% endcomment %}
        <div class="resume__main">
          {% include resume-education.html %}
        </div>
      </div>

      <hr class="double">

      <div class="l-split">
        <div class="resume__side">
          <h2 class="side-title">Tools</h2>
        </div>
        {% comment %} tools {% endcomment %}
        <div class="resume__main">
          {% include resume-tools.html %}
        </div>
      </div>

      <hr class="double">

      <div class="l-split">
        <div class="resume__side">
          <h2 class="side-title">Competences</h2>
        </div>
        <div class="resume__main">
          <ul class="skills">
            {% for skill in site.data.bio.skills %}
              <li class="item">
                {{skill.skill}}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>


  </article>

</div>
