---
layout: default
---

<div class="main">

	<h1 class="page-title">Blog</h1>

	{{ content }}

	<section class="post-list">
		{% for post in site.posts %}
			<article class="post">
				<h2 class="post__title">
					<a class="post__link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
				</h2>
				{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
				<span class="post__meta">{{ post.date | date: date_format }}</span>
			</article>
		{% endfor %}
	</section>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
