---
layout: default
---


<article class="page-bookshelf wrap">

    <header class="headline">
      <h1 class="headline__title" itemprop="name headline">Bookshelf</h1>
      <p class="headline__subtitle">Favorite books and texts</p>
    </header>

    <hr>

    <section>
      <h2 class="side-title hug">Non-Fiction</h2>
      <div class="books books--non-fiction">
        {% include books-non-fiction.html %}
      </div>
    </section>

    <hr class="double">

    <section>
      <h2 class="side-title">Fiction</h2>
      <div class="books books--fiction">
        {% include books-fiction.html %}
      </div>
    </section>

</article>
