<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

  	<div class="l-container">

      <div class="l-sidebar">
        {% include header.html %}
      </div>

      <div class="l-main">

        <main class="main" aria-label="Content">
          <div class="page-home wrap">
            <h1 class="page-title hug">Welcome</h1>
            <div class="intro">
              {{ content }}
            </div>
            <img src="/images/spinner.gif" data-echo="images/home.jpg">
            <p class="work-in-progress">This site is work in progress. Some parts may be unfinished, sound sloppy or work strangely in older browsers. Feedback and suggestions are appreciated.</p>
          </div>
        </main>

        {% include footer.html %}

      </div>

		</div>

  </body>

</html>


