<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

  	<div class="l-container">

      <div class="l-sidebar">
        {% include header.html %}
      </div>

      <div class="l-main">
        <main class="main" aria-label="Content">

          <div class="page-home wrap">
            <h1 class="page-title hug">Welcome</h1>
            <img src="/images/spinner.gif" data-echo="images/home.jpg">
            {{ content }}
          </div>

          {% include footer.html %}

        </main>
      </div>

		</div>

  </body>

</html>


