---
layout: default
---

<article class="page-projects wrap">

		<header class="headline">
      <h1 class="headline__title" itemprop="name headline">Writing</h1>
      <p class="headline__subtitle">Selected academic texts</p>
    </header>

    <hr>

		{% comment %} UCL {% endcomment %}
		<section class="projects">
      <div class="l-split">

        <div class="projects__sidebar">
          <h2 class="side-title">UCL <span>2017-2018</span></h2>
        </div>

        <div class="projects__main projects__academic">

          {% for project in site.data.writing.ucl %}
          <article class="item">
            <div class="item__meta">
              <h3 class="item__title">{{project.name | escape}} <span class="item__period">{{ project.period }}</span></h3>
              <p class="item__description">{{project.description | escape}}</p>
              <div class="item__action">
                <a href="{{project.url}}" target="_blank">{{project.action}}</a>
              </div>
            </div>
          </article>
          {% endfor %}

        </div>

      </div>
		</section>

    <hr class="double">


    <section class="projects">
      <div class="l-split">

        <div class="projects__sidebar">
          <h2 class="side-title">CBS <span>2012-2015</span></h2>
        </div>

        <div class="projects__main projects__academic">

          {% for project in site.data.writing.cbs %}
          <article class="item">
            <div class="item__meta">
              <h3 class="item__title">{{project.name | escape}} <span class="item__period">{{ project.period }}</span></h3>
              <p class="item__description">{{project.description | escape}}</p>
              <div class="item__action">
                <a href="{{project.url}}" target="_blank">{{project.action}}</a>
              </div>
            </div>
          </article>
          {% endfor %}

        </div>

      </div>
		</section>
</article>
