*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  background-color: $primary-light;

  @media screen and (min-width: 960px){
    font-size: 78.125%;
  }

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  box-sizing: border-box;
  color: $gray-dark;
  font-family: $base-font;
  font-size: ms(0);
  font-weight: $fw-base;
  font-kerning: normal;
  line-height: $line-height;
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  font-weight: $fw-heading;
  line-height: $line-height-heading;
  color: $gray2;
}


h1 {
  font-size: ms(3);
  font-family: $leitura;
  font-weight: $fw-h1;
  margin: $spacing 0 $spacing*1.5 0;
  text-align: left;

  @include mq-desktop {
    font-size: ms(4);
    margin: $spacing*3 0 $spacing*1.5 0;
  }
}

h2 {
  font-size: ms(2);
}

h3 {
  font-size: ms(1);
}

h4 {
  font-size: ms(1);
}

p + p {
  margin-top: $spacing/4;
}

a {
  transition: color .2s ease-in-out;
}

a:link{
  color: $link;
  text-decoration: none;
}

a:visited{
  color: $link--visited;
}

a:hover,
a:focus{
  color: $link--hover;
}

a:active{
  color: $link--active;
}

img,
video{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

::selection {
  background: $highlight; /* WebKit/Blink Browsers */
}
