.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-justify {
  text-align: justify;
  hyphens: auto;
}

.fs-small {
  font-size: ms(-1);
}

.fs-base {
  font-size: ms(0);
}

.fs-large,
.fs-large p {
  font-size: ms(1);
}

.italic {
  font-style: italic;
}

.fw-normal {
  font-weight: $fw-base;
}

.fw-medium {
  font-weight: $fw-medium;
}

.fw-bold {
  font-weight: $fw-bold;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 0.075rem;
}

.box-center {
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .1);
}

.shadow-2 {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
}

.margin-top-1 {
  margin-top: $spacing/2;
}

.margin-top-2 {
  margin-top: $spacing;
}

.margin-top-3 {
  margin-top: $spacing*1.5;
}

.margin-top-4 {
  margin-top: $spacing*2;
}

.margin-top-5 {
  margin-top: $spacing*2.5;
}

.margin-top-6 {
  margin-top: $spacing*3;
}

.margin-top-7 {
  margin-top: $spacing*3.5;
}

.margin-top-8 {
  margin-top: $spacing*4;
}
