{% macro active(activePage) %}
<nav role="navigation" class="nav">

  <div class="nav__home">
    <a href="/" class="nav__link {%if activePage == 'home' %}active{% endif %}">
      Ilja Panic
    </a>
  </div>

  <ul class="nav__main">
    <li>
      <a href="/work" class="nav__link {%if activePage == 'work' %}active{% endif %}">
        <span>Work</span>
      </a>
    </li>
    <li>
      <a href="/resume" class="nav__link {%if activePage == 'resume' %}active{% endif %}">
        <span>Resume</span>
      </a>
    </li>
    <li>
      <a href="/bookshelf" class="nav__link {%if activePage == 'bookshelf' %}active{% endif %}">
        <span>Bookshelf</span>
      </a>
    </li>
  </ul>

  <div class="nav__hire">
    <a href="/hire" class="nav__link {%if activePage == 'hire' %}active{% endif %}">
      Hire Me
    </a>
  </div>
</nav>
{% endmacro %}
