@import 'modular-scale';

$avenir: 'Avenir Next W01';
$avenir-rounded: 'Avenir Next Rounded W01';
$leitura: 'Leitura News W01'; // 300, 400, 600, 700

$garamond1: 'Garamond Premier W01';
$garamond2: 'Garamond Premier W01 Disp';
$garamond3: 'Garamond Premier W01 Capt';


$base-font: $avenir, 'Helvetica Neue', 'Verdana', sans-serif;
$heading-font: $avenir, 'Georgia', serif;
$monospace-font:  'Consolas', 'Monaco', 'Courier New', monospace;

$body: $base-font;
$heading: $heading-font;
$monospace: $monospace-font;

$fw-base: 300;
$fw-medium: 500;
$fw-bold: 700;

$fw-heading: 500;
$fw-h1: 300;


$ms-base: 1.6rem;
$ms-ratio: 1.25;

$line-height: 1.6;
$line-height-heading: 1.35;

$spacing: 2rem;
