// Font based variables
//
// Styleguide

$base-font: 'Rubik', 'Helvetica Neue','Segoe UI', 'Verdana', sans-serif !default;
$heading-font: 'Rubik', 'Georgia', serif;
$monospace-font:  'Consolas', 'Monaco', 'Courier New', monospace !default;

$heading:         $heading-font !default;
$body:            $base-font !default;
$monospace:       $monospace-font !default;

$font-size: 1.4rem !default;
$line-height: 2rem !default;
$font-weight-base: 300;
$font-weight-bold: 500;

$font-size--small: 1.3rem !default;
$font-size--large: 2rem !default;

$spacing: $line-height;
