// main
.container
	margin-left auto
	margin-right auto
	max-width $wrap

.main
	margin-top $spacing*1.5

// footer
.footer
	text-align center
	margin-top $spacing*2
	padding-top $spacing
	padding-bottom $spacing


@supports (display:grid)
	+medium()
		// HEADER
		.header
			display grid
			grid-gap $spacing
			grid-template-columns auto 1fr
			grid-template-rows 1fr

		// BIO
		.bio
			display grid
			grid-gap $spacing*1.5
			grid-template-columns auto $paragraph

			// .bio__main
			// 	background red

			// .bio__sidebar
			// 	background aqua

		// RESUME
		.resume
			display grid
			grid-gap $spacing
			grid-template-columns $paragraph auto

			// .resume__main
			// 	background red

			// .resume__sidebar
			// 	background aqua
