@import url('./prism-theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-dim;
  }

  body {
    @apply bg-bg font-serif text-secondary text-base;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  /* typography */

  h1,
  h2,
  h3,
  h4 {
    @apply font-sans font-medium text-primary;
    line-height: 1.5;
  }

  /* h1 {
    @apply font-medium text-base;
    line-height: 1.1;
  }

  h2 {
    @apply font-medium text-base;
    line-height: 1.2;
  }

  h3 {
    @apply font-medium text-base;
    line-height: 1.2;
  }

  h4 {
    @apply font-medium text-sm;
    line-height: 1.2;
  } */

  /* basic post elements */

  p {
    line-height: 1.65;
  }

  a {
    @apply text-secondary underline decoration-dim underline-offset-4 transition-all duration-200 hover:text-primary hover:decoration-secondary;
  }

  hr {
    @apply mx-auto my-12 w-1/2 border-t-2 border-dim;
  }

  p > code {
    @apply rounded-sm bg-bg-secondary px-1 py-0.5 text-sm;
  }

  pre {
    @apply max-w-full overflow-scroll rounded-sm bg-bg-secondary px-2 py-2 text-sm;
  }
}

@layer components {
  .post {
    max-width: 64ch;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Instead use this non-standard one: */
    word-break: break-word;
  }

  .post-wrapper {
    max-width: 64ch;
  }

  .post-wider-wrapper {
    max-width: 84ch;
  }

  /* .post h1, .post h2, .post h3, .post h4 {
    @apply text-center;
  } */

  .post h1 {
    @apply mb-10;
  }

  .post h2 {
    @apply mt-8;
  }

  .post h3 {
    @apply mt-6;
  }

  .post h4 {
    @apply mt-4;
  }

  .post p {
    @apply mt-2;
  }

  .post p + p {
    @apply mt-4;
  }

  .post ul {
    @apply mt-2 list-disc pl-8;
    /* line-height: 1.6; */
  }

  .post li {
    @apply mt-2;
    line-height: 1.5;
  }

  .post blockquote {
    @apply my-6 border-l-4 border-dim pl-4 italic;
  }

  .post pre {
    @apply my-4;
  }
}

/* 3rd party helpers */

.player-wrapper {
  @apply relative aspect-video w-full;
}

.player-wrapper .react-player__preview {
  @apply relative z-10;
}

.headroom--pinned {
  @apply shadow-sm;
}
