@import './prism-material-light.css';
@import './prism-material-oceanic.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *********************** */
/* *********************** */
/* *********************** */
/* *********************** */

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Thin.woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-ThinItalic.woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Book.woff2');
  font-weight: 350;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Italic.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/PPNeueMontreal-BoldItalic.woff2');
  font-weight: 700;
  font-style: italic;
}

@layer base {
  body {
    @apply bg-bg px-4 text-gray-900 text-base dark:bg-bg-dark dark:text-gray-50 lg:px-0;
  }

  a {
    @apply text-accent underline decoration-gray-400 underline-offset-2 transition-colors duration-200 hover:text-accent-secondary hover:underline dark:hover:text-accent-secondary;
  }

  h1,
  h2,
  h3 {
    @apply font-sans font-bold text-gray-800 dark:text-gray-100;
  }

  h1 {
    @apply mb-8 text-2xl;
  }

  h2 {
    @apply mb-4 mt-12 text-xl;
  }

  h3 {
    @apply mb-4 text-lg;
  }

  h4 {
    @apply mb-4 font-bold uppercase tracking-wide text-base;
  }

  p {
    @apply mb-8 text-base;
  }

  p + ul,
  p + ol {
    @apply -mt-4;
  }

  pre {
    @apply mb-12 overflow-x-auto rounded-lg font-mono text-sm;
  }

  mark {
    @apply rounded bg-yellow-200 px-1 py-0.5 dark:bg-yellow-200;
  }

  blockquote {
    @apply mb-8 border-l-4 border-gray-200 pl-4 italic text-gray-600 dark:border-gray-700  dark:text-gray-400;
  }

  small {
    @apply text-sm;
  }

  hr {
    @apply my-16 border-gray-300 dark:border-gray-700;
  }
}

p code {
  @apply rounded bg-gray-200 px-2 py-1 font-mono text-sm dark:bg-gray-800;
}

.post ul {
  @apply mb-8 pl-8;
}

.post ol {
  @apply mb-8 pl-16;
}

.post ul li {
  @apply mb-2 list-item list-disc pl-3;
}

.post ul li::marker {
  content: '→';
}

.post ol li {
  @apply list-item list-decimal;
}

/* CUSTOM UTILITIES */
.text-secondary {
  @apply text-gray-600 dark:text-gray-400;
}

.text-dim {
  @apply text-gray-400 dark:text-gray-500;
}

.border-secondary {
  @apply border-gray-400 dark:border-gray-600;
}

.border-dim {
  @apply border-gray-200 dark:border-gray-700;
}

.wrap {
  @apply mx-auto max-w-wrap;
}

.player-wrapper {
  @apply relative aspect-video;
}

.player-wrapper .react-player__preview {
  @apply relative -z-10;
}

.footer:before {
  content: '* * *';
  @apply mb-20 block text-center text-gray-500 text-lg;
}

/* Prism */

.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  border-left-color: rgba(31, 41, 55, 0); /* Set code block color */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}

.highlight-line {
  @apply bg-gray-200/70 dark:bg-gray-900/40;
}

.rehype-code-title {
  @apply relative z-10 rounded-t-lg pt-2 pr-4 text-right font-mono font-bold text-secondary text-xs;
  background: #fafafa;
}

.dark .rehype-code-title {
  background: #263238;
}

.rehype-code-title + pre {
  @apply -mt-6 rounded-t-none;
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

/* react hamburger hover effect */

.closed .hamburger-react:hover div:first-of-type div {
  @apply -mt-0.5 transition-all;
}

.closed .hamburger-react:hover div:last-of-type div {
  @apply mt-0.5 transition-all;
}

/* sticky header */

/* .header-container {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(247, 247, 247, 0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 99;
} */

/* @media screen and (max-width: 480px) {
  #header-container.is-open {
    overflow-y: hidden;
    height: 100vh;
  }
} */

/* .headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
} */

.headroom {
  top: 0;
  left: 0;
  right: 0;
  zindex: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
  transform: translateY(-100%);
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

/* .headroom {
  @apply sticky w-full top-0 bg-bg/90 py-1 backdrop-blur-sm dark:bg-bg-dark/90 lg:mt-0 lg:py-2;
} */
