<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} | {{ page_resume.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_resume.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/resume/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="top" class="container shadow">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/nav.html' as nav %}
      {{nav.active('resume')}}
  	</header>
  	<!-- /HEADER  -->

    <main class="main" role="main">

      <article>
        <h1 data-aos="fade" data-aos-duration="800">Information Architect &amp;<br/>Web Developer</h1>
        <div class="wrapper">
          <div class="fs-large" data-aos="fade" data-aos-duration="800" data-aos-delay="200">
            {% include "_text/profile.html" %}
          </div>
        </div>
      </article>

      <!-- resume -->
  		<div class="resume">

  			<!-- resume__main -->
  			<div class="resume__main">

  				<!-- EXPERIENCE -->
  				<section class="section">
  					<h2 class="section__title" data-aos="fade-right" data-aos-duration="800">Work Experience</h2>
  					{% include "_loops/work.html" %}
  				</section>
  				<!-- /EXPERIENCE -->

  				<!-- EDUCATION -->
  				<section class="section">
  					<h2 class="section__title" data-aos="fade-right" data-aos-duration="800">Education</h2>
  					{% include "_loops/education.html" %}
  				</section>
  				<!-- /EDUCATION -->

  			</div>
  			<!-- /resume__main  -->

  			<!-- resume__sidebar -->
  			<div class="resume__sidebar">

  				<!-- LANGUAGES -->
  				<section class="section">
  					<h2 class="section__title" data-aos="fade-left" data-aos-duration="800">Languages</h2>
  					{% include "_loops/languages.html" %}
  				</section>
  				<!-- /LANGUAGES -->

  				<!-- COMPETENCES -->
  				<section class="section">
  					<h2 class="section__title" data-aos="fade-left" data-aos-duration="800">Competences</h2>
  					{% include "_loops/competences.html" %}
  				</section>
  				<!-- /COMPETENCES -->

  				<!-- TOOLS -->
  				<section class="section">
  					<h2 class="section__title" data-aos="fade-left" data-aos-duration="800">Tools</h2>
  					{% include "_loops/tools.html" %}
  				</section>
  				<!-- /TOOLS -->

  			</div>
  			<!-- /resume__sidebar -->

  		</div>
  		<!-- /resume -->

  	</main>

    <div class="margin-top-4">
      {% include '_shared/booking.html' %}
    </div>

    {% include "_shared/footer.html" %}

  </div>

  {% include "_shared/global-scripts.html" %}

</body>
</html>
