<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>{{ page_resume.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta property="og:title" content="{{ page_resume.title }} | {{ site.title }}" />
  <meta property="og:url" content="http://iljapanic.me/resume/" />

	{% include "_shared/head.html" %}
</head>

<body>

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <script>
    AOS.init({
      once: true
    });
  </script>

  <div id="barba-wrapper" class="container">

    <!-- HEADER -->
  	<header class="header" role="banner">
      {% import '_shared/main-nav.html' as nav %}
      {{nav.active('resume')}}
  	</header>
  	<!-- /HEADER  -->



    <main class="main barba-container" role="main">

      <!-- card -->
      <article class="card ta-center">
        <div class="wrapper-small">
          <div class="card__header">
            <div class="card__image">
              <img src="{{ profile.image }}" alt="{{ profile.image_alt }}" data-aos="fade" data-aos-duration="800" />
            </div>
            <div class="card__headline">
              <h1 class="card__title" data-aos="fade" data-aos-duration="800">{{ profile.name }}</h1>
            </div>
          </div>
          <div class="card__role" data-aos="fade" data-aos-duration="800" data-aos-delay="200">{{ profile.position }}</div>
          <div class="card__description" data-aos="fade" data-aos-duration="800" data-aos-delay="300">
            {% include "_text/profile.html" %}
          </div>
        </div>
      </article>
      <!-- /card -->

      <!-- wrapper -->
      <div class="wrapper">

        <!-- resume -->
    		<div class="resume">

    			<!-- resume__main -->
    			<div class="resume__main">

    				<!-- EXPERIENCE -->
    				<section class="section">
    					<h2 class="section__title" data-aos="fade-right" data-aos-duration="800">Work Experience</h2>
    					{% include "_loops/work.html" %}
    				</section>
    				<!-- /EXPERIENCE -->

    				<!-- EDUCATION -->
    				<section class="section">
    					<h2 class="section__title" data-aos="fade-right" data-aos-duration="800">Education</h2>
    					{% include "_loops/education.html" %}
    				</section>
    				<!-- /EDUCATION -->

    			</div>
    			<!-- /resume__main  -->

    			<!-- resume__sidebar -->
    			<div class="resume__sidebar">

    				<!-- LANGUAGES -->
    				<section class="section">
    					<h2 class="section__title" data-aos="fade-left" data-aos-duration="800">Languages</h2>
    					{% include "_loops/languages.html" %}
    				</section>
    				<!-- /LANGUAGES -->

    				<!-- COMPETENCES -->
    				<section class="section">
    					<h2 class="section__title" data-aos="fade-left" data-aos-duration="800">Competences</h2>
    					{% include "_loops/competences.html" %}
    				</section>
    				<!-- /COMPETENCES -->

    				<!-- TOOLS -->
    				<section class="section">
    					<h2 class="section__title" data-aos="fade-left" data-aos-duration="800">Tools</h2>
    					{% include "_loops/tools.html" %}
    				</section>
    				<!-- /TOOLS -->

    				<!-- CERTIFICATES -->
    				<!-- <section class="section">
    					<h2 class="section__title">Certificates</h2>
    					{% include "_loops/certificates.html" %}
    				</section> -->
    				<!-- /CERTIFICATES -->

    			</div>
    			<!-- /resume__sidebar -->

    		</div>
    		<!-- /resume -->

      </div>
      <!-- /wrapper -->


      <div class="wrapper">
        <div class="resume-extra">
          <!-- PASSIONS -->
          <section class="section">
            <h2 class="section__title" data-aos="fade-up" data-aos-duration="800">Passions</h2>
            {% include "_loops/passions.html" %}
          </section>
          <!-- /PASSIONS -->

          <!-- GATHERINGS -->
          <section class="section">
            <h2 class="section__title" data-aos="fade-up" data-aos-duration="800">Gatherings</h2>
            {% include "_loops/gatherings.html" %}
          </section>
          <!-- /GATHERINGS -->

        <div class="margin-top-6">
          {% include '_shared/booking.html' %}
        </div>

        </div>

      </div>
  	</main>

    {% include "_shared/footer.html" %}
    {% include "_shared/global-scripts.html" %}

  </div>

</body>
</html>
